{% extends 'base.html.twig' %}

{% block title %}
    Installation
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <section class="slice">
        <div class="w-section inverse" style="padding-bottom:0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>Installation check</h1>
                        Once the installation is done, we recommend to disable this page by adding "$_config['install']['checker'] = false;" to your config.local.inc.php <br/><br/>
                        Current version: {{ version }}
                        <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Result</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for name, check in results %}
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">{{ name }}</td>
                                    <td style="text-align: center; vertical-align: middle;">{{ check | raw }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block footer %}
{% endblock %}