{% extends 'base.html.twig' %}

{% block title %}
    404
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <section class="slice color-one">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>The page could not be found</h2>
                            <h1 class="font-lg">
                                4<i class="fa-regular fa-circle-xmark"></i>4
                            </h1>
                            <p>
                                The Sheep is out there!
                            </p>
                            <br>
                            <a href="/" style="color:white;font-style: italic;">Back to homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <br>
                <div class="col-lg-9 copyright">2007 SheepIt renderfarm</div>
            </div>
    </footer>

{% endblock %}


{% block footer %}
{% endblock %}