<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ title }} | SheepIt-renderfarm{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="description" content="{{ site_name }}"/>
    <meta name="keywords" content="free, collaborative, blender,renderfarm,sheepit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/media/fontawesome-free-6.7.2/css/fontawesome.css" rel="stylesheet"/>
    <link href="/media/fontawesome-free-6.7.2/css/solid.css" rel="stylesheet"/>
    <link href="/media/fontawesome-free-6.7.2/css/all.css" rel="stylesheet"/>
    <link href="/media/{{ short_version }}/style/base-{{ header_theme_current }}.css" rel="stylesheet" type="text/css"/>
    <link href="/media/{{ short_version }}/style/bootstrap.min.css" rel="stylesheet">
    <link href="/media/{{ short_version }}/style/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" rel="stylesheet">
    <link href="/media/{{ short_version }}/style/jquery-ui-theme-smoothness.css" rel="stylesheet" type="text/css">
    <link href="/media/{{ short_version }}/style/advent.css" rel="stylesheet" type="text/css">
    <link href="/media/image/favicon.ico" rel="icon" type="image/png">
    <link href="/media/{{ short_version }}/style/fractionslider.css" rel="stylesheet" type="text/css"/>
    <link href="/media/{{ short_version }}/style/jquery.CalendarHeatmap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/media/{{ short_version }}/style/base-main.css" rel="stylesheet" type="text/css"/>
    <link href="/media/{{ short_version }}/style/openstreetmap.css" rel="stylesheet" type="text/css"/>

    <!-- JavaScript -->
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/misc/modernizr.custom.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.easing.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery-ui.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/timezone/jstz.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/common.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/register.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/login.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/addproject.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/showjob.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/getstarted.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/profile.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/publickey.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/graph.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/ajax/register.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/admin.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/layout.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/moment.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/jquery.CalendarHeatmap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="/media/{{ short_version }}/script/lib/masonry/masonry.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/page-scroller/jquery.ui.totop.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/mixitup/jquery.mixitup.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/mixitup/jquery.mixitup.init.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/fancybox/jquery.fancybox.pack.js?v=2.1.5" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/jquery/jquery.ebright.custom.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/fraction/jquery.fractionslider.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/fraction/jquery.fractionslider.init.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/lazyload/lazyload.min.js" type="text/javascript"></script>
    <script src="/media/{{ short_version }}/script/lib/map/openstreetmap.js" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script>
        google.charts.load('current', {
            'packages': ['geochart', 'corechart', 'timeline'],
        });
    </script>
</head>


<body>
<header>
    {% block header %}
    <div id="navbar" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <style>
                    header h1 {
                        text-transform: uppercase;
                        font-weight: 900;
                        display: inline-block;
                        letter-spacing: -2px;
                        font-size: 40px;
                        color: #FFF;
                        position: relative;
                        margin: 0 10px;
                        top: 10px;
                        line-height: 0;
                    }

                    header h1 span {
                        font-weight: 100;
                    }

                    header .navbar-brand img {
                        height: 50px;
                    }
                </style>
                <a class="navbar-brand" href="{{ path('app_home_main') }}">
                    <img id="logo" src="/media/image/title.png" alt="SheepIt Renderfarm">
                    <h1>Sheep<span>It</span></h1>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% for page in header_pages %}
                        <li {{ page.highlight ? 'class="selected"' : '' }}>
                            <a href="{{ page.route }}">{{ page.text }}</a>
                        </li>
                    {% endfor %}
                    <li class=" dropdown navbar-user">
                        {% if user_logged is not null %}
                            {# logged user #}

                            <a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown">
                                {{ printAvatar(user_logged.id, false) }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="dropdown-form">
                                        <h4>Connected as {{ user_logged.id }}</h4>
                                    </div>
                                </li>
                                <li><a href="{{ path('app_user_profile', {'user' : user_logged.id}) }}">My account</a></li>
                                <li><a href="{{ path('app_user_edit', {'user' : user_logged.id}) }}">Edit profile</a></li>
                                <li><a href="" onclick="requestReloadOnSuccess('{{ path('app_theme_switch') }}'); return false">Switch to {{ header_theme_switch }} theme</a></li>
                                <li class="delimiter"></li>
                                <li>
                                    <a href="{{ path('app_user_logout') }}">Log out</a>
                                </li>
                            </ul>



                        {% else %}
                            {# annonymous #}

                            <a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="dropdown-form">
                                        <h4>Please sign in</h4>
                                        <form role="form" class="padding-15" action="javascript:;" id="login-header">
                                            <div class="form-group"><input class="form-control" id="login-header_login" placeholder="Enter username">
                                            </div>
                                            <div class="form-group"><input type="password" class="form-control" id="login-header_password" placeholder="Password">
                                                <span id="login-header_password_toggle" toggle="#login-header_password" class="fa fa-fw fa-eye field-icon toggle-password" onclick="doTogglePasswordVisibility('login-header_password_toggle')" style="float: right; margin-left: -30px;margin-top: -25px;position: relative;z-index: 2;"></span>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="submit" class="btn btn-two pull-right" value="Sign in" id="login-header_submit"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="delimiter"></li>
                                <li class="text-center">
                                    <a href="{{ path('app_user_print_register') }}" class="sign-up.html">Create a new account</a>
                                    <a href="" onclick="requestReloadOnSuccess('{{ path('app_theme_switch') }}'); return false">Switch to {{ header_theme_switch }} theme</a>
                                </li>
                            </ul>

                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if header_announcement != '' %}
        <div class="alert alert-warning" role="alert">
            <div class="text-center">
                {{ header_announcement | raw }}
            </div>
        </div>
    {% endif %}
</header>
{% endblock %}

{% block content %}


{% endblock %}

{% block footer %}

    <style>
        footer .popular p {
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            font-size: 15px;
        }

        footer h4 a {
            color: #EEE;
        }

        footer ul.popular li {
            border-bottom: 1px hidden #565656;
        }

        footer textarea {
        }
    </style>
    <footer>
        <div class="container">
            <div class="row">
                {% if user_logged is not null %}
                    <div class="col-md-3">
                        <div class="col">
                            <h4>Latest projects</h4>
                            <ul class="popular">
                                {% for project in footer_projects %}
                                    <li style="margin-bottom: 12px">
                                        {{ printOwnerAvatarFooter(project.owner) }}
                                        <p>
                                            {{ printProjectLink(project) }}
                                            <i>
                                                {{ printProjectStatus(project) }}
                                            </i>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-{{ user_logged is not null ? '4' : '6' }}">
                    <div class="col col-social-icons">
                        <h4>Social</h4>
                        {% for community in footer_socialnetworks %}
                            <a href="{{ community.link }}"><i class="fa-brands {{ community.fa }}" style="border:1px"></i></a>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <h4>Help us</h4>
                        We need you to keep the service alive. Help us now!
                        <br><br>
                        {{ footer_paypal_button | raw }}
                        <div style="float: left;margin-left: 10px">
                            <a href="https://www.patreon.com/sheepit"><img style="width: 130px;" src="/media/image/donate_patreon.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-{{ user_logged is not null ? '4' : '6' }}">
                    <div class="col">
                        <h4>
                            {% if user_logged is not null %}
                                <a href="{{ path('app_ranking_user') }}">Top renderers over 30 day rolling period</a>
                            {% else %}
                                Top renderers over 30 day rolling period
                            {% endif %}
                        </h4>
                        <ul class="popular">
                            {% for renderer in footer_renderers %}
                                <li style="margin-bottom: 12px">
                                    {{ printOwnerAvatarFooter(renderer.login) }}
                                    <p>
                                        {{ printOwnerLink(renderer.login) }}
                                        <i>Rendered {{ renderer.renderedframes | number_format }} frames</i>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <center>
                <div class="row">
                    <div class="col-lg-9 copyright">
                        {{ footer_copyright_year }} {{ site_name }}.
                        <a href="{{ path('app_termsofuse_main') }}#terms">Terms of use</a> |
                        <a href="{{ path('app_termsofuse_main') }}#privacy">Privacy policy</a>
                    </div>
                    <div class="col-lg-3 footer-logo">
                        {{ footer_debug_usage | raw }}
                    </div>
                </div>
            </center>
        </div>
    </footer>

    <!-- lazyload must be called after all <img> are created -->
    <script>
        new LazyLoad();
    </script>

{% endblock %}

</body>
</html>