{% extends 'base.html.twig' %}

{% block title %}
    Servers
{% endblock %}

{% block content %}

    {{ printOrangeHeader(
        'SheepIt\'s servers',
        '',
        'network'
    ) }}

    <div class="container">
        <br>
        The 'SheepIt network' is handled by four type of servers:
        <ul>
            <li><strong><i>www</i></strong> (yellow), situated in Texas, USA. It handles users, project creation and rendering request.</li>
            <li><strong><i>binary mirror</i></strong>: stores Blender binary copy. Traffic is handled by Cloudflare's CDN.</li>
            <li><strong><i>project mirror</i></strong>: stores blend file copy. Traffic is handled by Cloudflare's CDN.</li>
            <li><strong><i>shepherd</i></strong> (blue): stores the actual render. Creates zip and mp4.</li>
        </ul>
        <br>
        We are always looking for new servers. If you are interested in lending us a server, please contact us through Discord.<br/>
        <br/>

        Requirements for sharing a server:<br>
        A dedicated IP and dedicated hardware are required.<br/>
        You can not run a shepherd on your home network.<br>
        <br>
        <table class="table table-hover table-bordered table-striped" style="margin-left: auto; margin-right: auto;width:100%;" border="0">
            <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">Requirement</th>
                <th style="text-align: center; vertical-align: middle;">Shepherd</th>
            </tr>
            <thead>
            <tbody>
            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>Uptime</strong></td>
                <td style="text-align: center; vertical-align: middle;">critical</td>
            </tr>

            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>Installation</strong></td>
                <td style="text-align: center; vertical-align: middle;">https + docker</td>
            </tr>

            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>CPU</strong></td>
                <td style="text-align: center; vertical-align: middle;">8 cores</td>
            </tr>

            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>RAM</strong></td>
                <td style="text-align: center; vertical-align: middle;">32 GB</td>
            </tr>

            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>Disk usage</strong><br><i>Can be capped</i></td>
                <td style="text-align: center; vertical-align: middle;">12 TB</td>
            </tr>

            <tr>
                <td style="text-align: center; vertical-align: middle;"><strong>Traffic per month</strong></td>
                <td style="text-align: center; vertical-align: middle;">1Gbps upstream link unmetered</td>
            </tr>
            </tbody>
        </table>

        <br/>

        <style>
            #map {
                width: 100%;
                height: 800px;
                background-color: grey;
            }
        </style>
        <div id="map"></div>
        <script>
            var attribution = new ol.control.Attribution({
                collapsible: false
            });

            var map = new ol.Map({
                controls: ol.control.defaults({attribution: false}).extend([attribution]),
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                target: 'map',
                view: new ol.View({
                    center: [0, 0],
                    zoom: 2,
                })
            });

            var layerShepherd = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                        {% for position in shepherds %}
                        new ol.Feature({geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ position.lon }} , {{ position.lat }}]))}),
                        {% endfor %}
                    ]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        src: '/media/image/marker-icon-blue.png',
                        anchor: [0.5, 0.5],
                        anchorXUnits: "fraction",
                        anchorYUnits: "fraction",
                    })
                })
            });

            var layerMaster = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                        new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([-96.83, 32.95]))
                        }),
                    ]
                }),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        src: '/media/image/marker-icon-yellow.png',
                        anchor: [0.5, 0.5],
                        anchorXUnits: "fraction",
                        anchorYUnits: "fraction",
                    })
                })
            });

            map.addLayer(layerShepherd);
            map.addLayer(layerMaster);
        </script>

        <h2 class="plan-title">Shepherds status</h2>
        <table class="table table-hover table-bordered table-striped" style="margin-left: auto; margin-right: auto;width:100%;" border="0">
            <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;">Server</th>
                <th style="text-align: center; vertical-align: middle;">Bandwidth</th>
                <th style="text-align: center; vertical-align: middle;">Processing</th>
                <th style="text-align: center; vertical-align: middle;">Storage</th>
                <th style="text-align: center; vertical-align: middle;">Tasks</th>
            </tr>
            <thead>
            <tbody>
            {% for shepherd in shepherds %}

                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        {{ shepherd.id_human }}
                    </td>
                    {% if shepherd.is_alive %}
                        <td style="text-align: center; vertical-align: middle;">
                            <i class="fa fa-thermometer-{{ shepherd.network_rx_index }} fa-3x" style="padding-left: 10px;padding-right: 20px;border:1px;color:{{ shepherd.network_rx_color }}"></i>
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <i class="fa fa-thermometer-{{ shepherd.cpu_index }} fa-3x" style="padding-left: 10px;padding-right: 20px;border:1px;color:{{ shepherd.cpu_color }}"></i>
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <i class="fa fa-thermometer-{{ shepherd.storage_index }} fa-3x" style="padding-left: 10px;padding-right: 20px;border:1px;color:{{ shepherd.storage_color }}"></i>
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            <i class="fa fa-thermometer-{{ shepherd.task_index }} fa-3x" style="padding-left: 10px;padding-right: 20px;border:1px;color:{{ shepherd.task_color }}"></i>
                        </td>
                    {% else %}
                        <td style="text-align: center; vertical-align: middle;" colspan="4"><span style="color:red">Shepherd down</span></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <br>
    </div>


{% endblock %}