{% extends 'base.html.twig' %}

{% block title %}
    Tiles
{% endblock %}

            {% block content %}

                {{ printBreadcrumbs('Tiles', [
                    {
                        'title': 'Projects',
                        'url' : path('app_home_projects'),
                    },
                    {
                        'title': frame.getProject().getName(),
                        'url': path('app_project_manage', {'project' : frame.getProject().getId()})
                    },
                    {
                        'title': 'Tiles'
                    }
                ]
                ) }}

                <section class="slice color-three">
                    {{ displayGoogleAdsense() }}
                    <div class="w-section inverse blog-grid">
                        <div class="container">
                            <div class="row">
                                {{ UIShowTiles(frame) }}
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}
