{% extends 'base.html.twig' %}

{% block title %}
    Teams
{% endblock %}

{% block content %}
    {{ printOrangeHeader(
        'Do you think your team is the best?',
        'or join a team....',
        'Teams'
    ) }}

    <section class="slice animate-hover-slide">
        <div class="w-section inverse">
            <div class="container">
                <i>Teams are limited to {{ max_member }} members.</i><br/>
                <i>Rank is based on last 90 days</i><br>
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th><a class="sortable" href="#" data-type="int">Rank</a></th>
                        <th><a class="sortable" href="#">Name</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Points over 90 days</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Points over 180 days</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Total points</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Members</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>
                                {{ printRank(team.rank) }}
                            </td>
                            <td>
                                <a href="{{ path('app_team_single', { 'team' : team.id}) }}">{{ team.name }}</a>
                            </td>
                            <td data-sort="{{ team.rank90_points }}">
                                {% if team.rank90_points != 0 %}
                                    {{ humanSize_html(team.rank90_points, true) }}
                                {% endif %}
                            </td>
                            <td data-sort="{{ team.rank180_points }}">
                                {% if team.rank180_points != 0 %}
                                    {{ humanSize_html(team.rank180_points, true) }}
                                {% endif %}
                            </td>

                            <td data-sort="{{ team.points }}">
                                {% if team.points != 0 %}
                                    {{ humanSize_html(team.points, true) }}
                                {% endif %}
                            </td>
                            <td data-sort="{{ team.count_members }}">
                                {% if team.count_members == max_member %}
                                    <span class="label label-danger">{{ team.count_members }}</span>
                                {% else %}
                                    <span class="label label-success">{{ team.count_members }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="container">
                <h1>Create your own team</h1>
                {% if user_logged is null %}
                    You need to be logged to create a team.
                {% else %}

                    <form action="{{ path('app_team_add') }}" method="post" enctype="multipart/form-data">
                        <div class="row" style="padding: 10px">
                            <div class="col-md-3" style="text-align: right; vertical-align: middle;">
                                Name
                            </div>
                            <div class="col-md-6">
                                It's mandatory to put an English name.<br/>
                                <input type="text" id="team_create_name" name="team_create_name" value="" maxlength="70" style="width:100%"/>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px">
                            <div class="col-md-3" style="text-align: right; vertical-align: middle;">
                                Description
                            </div>
                            <div class="col-md-6">
                                <textarea id="team_create_description" name="team_create_description" style="width:100%" rows="5" cols="80"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-1">
                                <input type="hidden" name="action" value="add"/>
                                <input type="submit" class="btn btn-primary" id="add_submit" value="Add"/>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}