{% extends 'base.html.twig' %}

{% block title %}
    Team
{% endblock %}

{% block content %}
    {{ printOrangeHeader(
        team.getName(),
        '<span class="label label-success">rank ' ~ printRank(rank) ~ '</span><br><br><span>Over last 90 days ' ~ number_format_html(points_90days) ~ ' points</span><br><span>Over last 180 days: ' ~  number_format_html(points_90days) ~ ' points</span>',
        number_format_html(team.getPoints())  ~ ' points'
    ) }}

    <script>
        function leave_team() {
            var res = confirm("Are you sure you want to leave the team?\nIt can NOT be undone.");
            if (res == false) {
                return;
            }
            requestReloadOnSuccess('{{ path('app_team_leave') }}');
            return false
        }
    </script>

    <div class="container">
        <div>
            <center>{{ team.getDescription() | striptags('<br>') }}</center>
        </div>
        <br>
        {% if display_leave_team %}
            <div>
                <input type="button" class="btn btn-danger" onclick="leave_team()" id="leave_team" value="Leave the team"/>
            </div>
        {% endif %}
        {% if display_team_is_full %}
            <br>
            <div><i>This team is <strong>full</strong>, you can't join</i></div>
        {% endif %}
        {% if display_cannot_join %}
            <br>
            <div><i>You can't join this team because you are already member of another one.</i></div>
        {% endif %}
        {% if display_request_pending %}
            <div>
                You asked to join this team.<br>The request is pending team's owner acceptance.
                <br>
                <input type="button" class="btn btn-primary" onclick="requestReloadOnSuccess('{{ path('app_team_canceljoin', { 'team': team.id}) }}'); return false" id="ask_to_join_team" value="Cancel request"/>
            </div>
        {% endif %}


        {% if display_join %}
            <div>
                <input type="button" class="btn btn-primary" onclick="requestReloadOnSuccess('{{ path('app_team_askforjoin', { 'team' : team.id}) }}'); return false" id="ask_to_join_team" value="ask to join this team"/>
            </div>
        {% endif %}
    </div>

    <section class="slice animate-hover-slide">
        <div class="w-section inverse">
            <div class="container">
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th><a class="sortable" href="#" data-type="int">Rank</a></th>
                        <th><a class="sortable" href="#">Members</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Points generated</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Join date</a></th>
                        {% if display_admin %}
                            <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Last rendered frame</a></th>
                            <th>Remove member</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>
                                <span class="{{ member.rendering ? 'label label-success' : 'label label-default' }}">{{ printRank(member.rank) }}</span>
                            </td>
                            <td>
                                {{ printAvatar(member.id, true, true) }}
                                &nbsp;
                                {{ printOwnerLink(member.id) }}
                            </td>
                            <td data-sort="{{ member.contribution }}">
                                {% if member.contribution != 0 %}
                                    {{ number_format_html(member.contribution) }}
                                {% endif %}
                            </td>
                            <td data-sort="{{ member.join_time }}">
                                {{ getTimeWithLocalTimeZone('F jS, Y', member.join_time) }}
                            </td>
                            {% if display_admin %}
                                <td data-sort="{{ member.last_rendered_frame_timestamp }}">
                                    {% if member.last_rendered_frame_timestamp != 0 %}
                                        {{ getTimeWithLocalTimeZone('F jS, Y', member.last_rendered_frame_timestamp) }}
                                    {% else %}
                                        <span style="color: red">never</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user_logged.id() != member.id %}
                                        <a href="#" class="btn btn-danger btn-round" onclick="if (confirm('Are you sure you want to remove this user from the team?\\nIt can NOT be undone.')) {requestReloadOnSuccess('{{ path('app_team_removeuser', { 'team' : team.id, 'user' : member.id }) }}');} return false" title="Remove">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container"><i>Green users are rendering projects.</i></div>


            {% if team.getPointsFormerUser() > 0 %}
                <div class="container">Points from former user: {{ number_format_html(team.getPointsFormerUser()) }}</div>
            {% endif %}

            {% if display_admin %}
                {% if owner_join_request is not empty %}
                    <div class="container">
                        <h3>Join requests</h3>

                        <table>
                            <thead>
                            <th class="owner_name"></th>
                            <th>User</th>
                            <th>Request time</th>
                            <th>Action</th>
                            </thead>

                            {% for login, time in owner_join_request %}
                                <tr>
                                    <td class="table_avatar">
                                        {{ printAvatar(login) }}
                                    </td>
                                    <td class="owner_name">
                                        {{ printOwnerLink(login) }}
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">{{ getTimeWithLocalTimeZone('F, jS Y', time) }}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="button" class="btn btn-primary" style="margin-right: 4px;" onclick="requestReloadOnSuccess('{{ path('app_team_adduser', { 'team' : team.id(), 'user' : login }) }}'); return false" id="ask_to_join_team" value="Accept"/>
                                        <input type="button" class="btn btn-primary" onclick="if (confirm('Are you sure you want to remove this request to join the team?\\nIt can NOT be undone.')) {requestReloadOnSuccess('{{ path('app_team_refuseuser', {'team' : team.id(), 'user' : login}) }} ')} return false" id="refuse_to_join_team_{{ login }}" value="Refuse"/>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                
                <div class="container">
                    <h3>Update name and description</h3>
                    When you change the name or description, an email will be sent to EVERY team members to inform them about the change.
                    <form action="{{ path('app_team_update', {'team'  : team.id()}) }}" method="post" enctype="multipart/form-data">
                        <div class="row" style="padding: 10px">
                            <div class="col-md-6">
                                Name, It's mandatory to put an English name.<br/>
                                <input type="text" id="team_create_name" name="team_update_name" value="{{ team.name }}" maxlength="70" style="width:100%"/>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px">
                            <div class="col-md-6">
                                Description
                                <textarea id="team_create_description" name="team_update_description" style="width:100%" rows="5" cols="80">{{ team.description }}</textarea>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" id="update_submit" value="Update"/>
                            </div>
                        </div>
                    </form>

                    <script>
                        function leave_team_them_delete() {
                            var res = confirm("Are you sure you want to leave the team and delete the team?\nIt can NOT be undone.");
                            if (res == false) {
                                return;
                            }
                            requestReloadOnSuccess('{{ path('app_team_leave_them_delete') }}');
                            return false
                        }

                        function do_leave_team_new_ownership() {
                            requestReloadOnSuccess(
                                '/team/leave_them_new_ownership' + $('#leave_team_new_ownership').val()
                            )
                        }
                    </script>

                    <h3>Team owner settings</h3>
                    Since you are the owner of the team, when you leave this team, you can either delete the team or select a new team owner
                    <div>
                        <input class="btn btn-danger" type="button" onclick="leave_team_them_delete()" id="leave_team_them_delete" value="Delete the team"/>
                    </div>

                    {% if members|length > 1 %}
                    <br>
                    <div>
                        Leave and transfer your teams ownership
                        <div class="row">
                            <div class="col-md-3" style="text-align: right; vertical-align: middle;">
                                <div class="input-group">
                                    <select name="select" id="leave_team_new_ownership" class="form-control">
                                        {% for member in members %}
                                            {% if member.id != team.owner.id %}
                                                <option value="{{ member.id }}">{{ member.id }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-btn">
                            <input class="btn btn-danger" type="button" onclick="do_leave_team_new_ownership(); return false" value="Give ownership"/>
                        </span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <br>
    </section>


{% endblock %}

