{% extends 'base.html.twig' %}

{% block title %}
    Donation
{% endblock %}

{% block content %}
    {{ printOrangeHeader(
        'To keep the service alive, please donate',
        'SheepIt is 100% free of charge, we rely solely on ads and donations to pay for the server hosting and domain name fees.<br>As a thank you, a cosmetic sheep will be displayed on your profile image, for 1 month after each donation.',
        'Available methods'
    ) }}

    <section class="slice color-three">
        <div class="w-section inverse">
            <div class="container">
                <div class="row text-center">
                    {% if paypal is not null %}
                        <div class="col-md-{{ col_width }}">
                            <h3>PayPal</h3>
                            <form action="https://www.paypal.com/donate" method="post" target="_top">
                                <input type="hidden" name="hosted_button_id" value="{{ paypal }}"/>
                                <input type="image" src="/media/image/paypal-donate-button.png" style="width: 160px;background: transparent" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
                                <img alt="" border="0" src="https://www.paypal.com/en_FR/i/scr/pixel.gif" width="1" height="1"/>
                            </form>
                        </div>
                    {% endif %}

                    <div class="col-md-{{ col_width }}">
                        <h3>Patreon</h3>
                        <a href="https://www.patreon.com/sheepit"><img src="/media/image/donate_patreon.png"/></a><br>
                    </div>

                    {% if spreadshirt is not null %}
                        <div class="col-md-{{ col_width }}">
                            <h3>Spreadshirt</h3>
                            <a href="{{ spreadshirt }}">
                                <img src="/media/image/donate_spreadshirt.png"/>
                            </a>
                            <br/>
                        </div>
                    {% endif %}

                    {% if bitcoin is not null %}
                        <div class="col-md-{{ col_width }}">
                            <h3>Bitcoin</h3>
                            <a href="bitcoin:{{ bitcoin }}">{{ bitcoin }}</a><br/>
                            <img src="{{ printQRCode(bitcoin.ID) | raw }}"/>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="w-section inverse">
                <div class="container">
                    <h2>Thanks to those awesome people for sponsoring us</h2>
                    <div class="row">
                        {% for donor_object in donors_list %}
                            <div class="col-md-6" style="padding-bottom: 20px">
                                <a href="{{ donor_object.getUrl() }}">
                                    <img src="{{ path('app_donation_donor_logo', {'donor' : donor_object.id()}) }}" alt=""/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="w-section inverse">
                <div class="container">
                    <h2>Thanks to those users for donating</h2>
                    <div class="row">
                        {% for user in donors_users %}
                            <div class="col-md-2" style="padding-bottom: 10px">
                                <a href="{{ path('app_user_profile', {'user' : user.id()}) }}">
                                    <img data-src="{{ path('app_avatar_getfile', {'size' : 'small', 'user' : user.id()}) }}" alt="" class="img-thumbnail pull-left">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

    </section>

{% endblock %}