{% extends 'base.html.twig' %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    {{ printInfo("Thank you for making a donation.", "If this is the first time, you have earned the Contributor award.") }}

{% endblock %}