<h1>Reset all frame made by this session from this project</h1>
<table class="table table-bordered table-striped table-comparision table-responsive sortable" style="width:80%">
    {% for project in rendered_projects %}
        <tr>
            <td>
                <a href="{{ path('app_project_manage', {'project' : project['id']}) }}">
                    {{ project['name'] }}
                </a>
            </td>
            <td>
                <form action="{{ path('app_session_reset_project', {'sessionid': project['session_id'], 'projectid' : project['id']}) }}" method="get" enctype="multipart/form-data">
                    <input type="submit" name="action_enable" value="Reset"/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<div id="see_frames" class="four_columns">
    {% for tile_data in rendered_tiles %}
        <div id="tile_{{ tile_data['id'] }}_div" class="col-md-3" style="padding-bottom: 20px">
            <img style="border: 1px solid black;" data-src="{{ tile_data['url_thumbnail_shepherd'] }}" alt="" title="" align="middle"/></a>
            <br>
            validated on: {{ getTimeWithLocalTimeZone('H:i.s M d', tile_data['validation_time']) }}<br>
            render time: {{ humanTimeHtml(tile_data['render_time'], true) }}<br>
            reward: {{ number_format_html(tile_data['reward']) }}<br>
            {% if tile_data['can_see_project'] %}
                project: <a href="{{ path('app_project_manage', {'project' : tile_data['project_id']}) }}">{{ tile_data['project_name'] }}</a>
            {% else %}
                {{ tile_data['project_name'] }}
            {% endif %}
            <br>
            <input type="button" class="btn btn-danger" onclick="doResetTile('{{ tile_data['id'] }}'); return false" value="Reset"/>
            </form>
        </div>
    {% endfor %}
</div>