{% extends 'base.html.twig' %}

{% block title %}
    Session log
{% endblock %}

{% block content %}
    {{ printBreadcrumbs('Session log',
        [
            {
                'title' : 'User\'s session',
                'url' : path('app_session_single', {'sessionid' :  session_id})
            },
        ]
    ) }}


    <div class="w-section inverse blog-grid">
        <div class="container">


            {{ contents|raw }}
        </div>
    </div>


{% endblock %}