{% extends 'base.html.twig' %}

{% block title %}
    Session
{% endblock %}

{% block content %}
    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse blog-grid">
            <div class="container">
                <h1>Session information</h1>

                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th>Owner</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ printOwnerLink(session.user().id()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>OS</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ session.oS }}
                        </td>
                    </tr>

                    {% if user_logged.isModerator() and session.hwid %}
                        <tr>
                            <th>HWID</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.hwid }}
                            </td>
                        </tr>
                    {% endif %}


                    {% if session.cpu is not null %}
                        <tr>
                            <th>CPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.cpu.model }} x {{ session.cpu.cores }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>RAM available</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ humanSize_html(session.memory * 1000) }}B
                        </td>
                    </tr>

                    {% if session.gpu is not null %}
                        <tr>
                            <th>GPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.gpu.model() }}
                            </td>
                        </tr>

                        <tr>
                            <th>VRAM</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ humanSize_html(session.gpu.memory) }}B
                            </td>
                        </tr>

                    {% endif %}

                    <tr>
                        <th>Creation Time</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ getTimeWithLocalTimeZone('H:i M d', session.creationTime()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>End Time</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ getTimeWithLocalTimeZone('H:i M d', session.endtime()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Rendered Frames</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ number_format_html(session.renderedframes()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Points earned</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ number_format_html(session.points()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Last request Job</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if session.lastrequestjob() > 0 %}
                                {{ getTimeWithLocalTimeZone('H:i M d', session.lastrequestjob()) }}
                            {% else %}
                                Never
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Last Validated frame</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if session.lastvalidatedframe() > 0 %}
                                {{ getTimeWithLocalTimeZone('H:i M d', session.lastvalidatedframe()) }}
                            {% else %}
                                Never
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Version</th>
                        <td style="text-align: center; vertical-align: middle; color: {{ is_latest_version ? 'green' : 'red' }}">
                            {{ session.version() }}
                        </td>
                    </tr>

                    <tr>
                        <th>Reason</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ session.reason() }}
                        </td>
                    </tr>

                    {% if user_logged.isModerator() %}
                        <tr>
                            <th>Action</th>
                            <td style="text-align: center; vertical-align: middle; '.$color.'">
                                <input type="button" class="btn btn-danger" onclick="requestReloadOnSuccess('{{ path('app_session_reset_all', {'sessionid' : session.id()}) }}', {}); return false" value="Reset session's frames"/>
                            </td>
                        </tr>
                    {% endif %}

                </table>

                {% if user_logged.isModerator() %}

                {% if errors is not empty %}
                    <h1>User's errors</h1>
                    <ul>
                        {% for error in errors %}
                            <li><a href="{{ path('app_session_log', {'filename' : 'error_' ~ error.time() ~ '_' ~ error.session() }) }}">{{ getTimeWithLocalTimeZone('H:i.s', error.time()) }}</a>
                                {{ ClientError_toHuman(error.type()) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                    <h1>Frames rendered</h1>
                    <div id="session_frames">
                        <div style="width: 44px;height: 44px;background: url('/media/image/fancybox_loading.gif') center center no-repeat;"></div>
                    </div>
                    <script>

                        $(document).ready(function () {
                            $.ajax({
                                type: 'GET',
                                url: '{{ path('app_session_frames', { 'sessionid' : session.id() }) }}',
                                data: [],
                                success: function (responseHTML) {
                                    $('#session_frames').html(responseHTML);
                                    new LazyLoad(); // must be called after all the <img are loaded
                                },
                            });
                        });
                    </script>
                {% endif %}

            </div>
        </div>
    </section>
{% endblock %}