{% extends 'base.html.twig' %}

{% block title %}
    Session
{% endblock %}

{% block content %}
    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse blog-grid">
            <div class="container">
                <h1>Session information</h1>

                <table style="margin-left: auto; margin-right: auto;">
                    <tr>
                        <th>Owner</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ printOwnerLink(session.user.id) }}
                        </td>
                    </tr>

                    {% if session.hostname is not empty %}
                        <tr>
                            <th>Hostname</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.hostname }}
                                {% if session.country is not empty %}
                                    &nbsp;<img data-src="/media/image/flag/{{ session.country }}.png"/>
                                {% endif %}
                            </td>
                        </tr>

                    {% endif %}

                    <tr>
                        <th>OS</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ session.oS }}
                        </td>
                    </tr>

                    {% if user_logged.isModerator() and session.hwid %}
                        <tr>
                            <th>HWID</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.hwid }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>RenderKey</th>
                        <td style="text-align: center; vertical-align: middle;">
                <span id="renderkey">
                    <input type="button" class="btn btn-success" value="Display renderkey" onclick="$('#renderkey').html('{{ session.renderKey.comment| striptags }}');"/>
                </span>
                        </td>
                    </tr>

                    {% if session.cpu is not null %}
                        <tr>
                            <th>CPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.cpu.model }} x {{ session.cpu.cores }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if session.memoryAllowed > 0 %}
                        <tr>
                            <th>RAM allowed</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ humanSize_html(session.memoryAllowed * 1000) }}B
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>RAM available</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ humanSize_html(session.memory * 1000) }}B
                        </td>
                    </tr>

                    <tr>
                        <th>Max render time per frame</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if session.maxRendertime > 0 %}
                                {{ humanTimeHtml(session.maxRendertime) }}
                            {% endif %}
                        </td>
                    </tr>

                    {% if session.gpu is not null %}
                        <tr>
                            <th>GPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.gpu.model() }}
                            </td>
                        </tr>

                        <tr>
                            <th>VRAM</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ humanSize_html(session.gpu.memory) }}B
                            </td>
                        </tr>

                        <tr>
                            <th>Compute device</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ compute_method }}
                            </td>
                        </tr>

                    {% endif %}

                    {% if session.powerCpu > 0 %}
                        <tr>
                            <th>Power CPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{{ path('app_ranking_machine') }}">{{ session.humanPowerCPU() }}</a>
                            </td>
                        </tr>

                        {% if user_logged.isModerator() and session_cluster_cpu is not empty %}
                            <tr>
                                <th>Cluster CPU</th>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ Clustering_toHuman(session_cluster_cpu) }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}

                    {% if session.powerGpu > 0 %}
                        <tr>
                            <th>Power GPU</th>
                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{{ path('app_ranking_machine') }}">{{ session.humanPowerGPU() }}</a>
                            </td>
                        </tr>

                        {% if user_logged.isModerator() and session_cluster_gpu is not empty %}
                            <tr>
                                <th>Cluster GPU</th>
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ Clustering_toHuman(session_cluster_gpu) }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}


                    {% if user_logged.isModerator() and session.networkSpeedDownload() and session.networkSpeedUpload() %}
                        <tr>
                            <th>Download network</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ humanSize_html(session.networkSpeedDownload()) }}B/s
                            </td>
                        </tr>
                        <tr>
                            <th>Upload network</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ humanSize_html(session.networkSpeedUpload()) }}B/s
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Scheduler</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ (session.scheduler() is empty) ? 'Default' : session.scheduler() }}
                        </td>
                    </tr>

                    {% if user_logged.isModerator() and session.ui() %}
                        <tr>
                            <th>UI</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.ui() }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if user_logged.isModerator() %}
                        <tr>
                            <th>Headless</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.headless ? 'Yes' : 'No' }}
                            </td>
                        </tr>

                        <tr>
                            <th>Disable large download</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {{ session.noBigDownload() ? 'Yes' : 'No' }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Creation Time</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ getTimeWithLocalTimeZone('H:i M d', session.creationTime()) }}
                        </td>
                    </tr>


                    <tr>
                        <th>Rendered Frames</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ number_format_html(session.renderedframes()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Points earned</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ number_format_html(session.points()) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Last request</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ humanTimeHtml(date().timestamp - session.timestamp(), false) }}
                        </td>
                    </tr>

                    <tr>
                        <th>Last request Job</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if session.lastrequestjob() > 0 %}
                                {{ humanTimeHtml(date().timestamp - session.lastrequestjob(), false) }}
                            {% else %}
                                Never
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Last Validated Job</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if session.lastvalidatedframe() > 0 %}
                                {{ humanTimeHtml(date().timestamp - session.lastvalidatedframe(), false) }}
                            {% else %}
                                Never
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>Version</th>
                        <td style="text-align: center; vertical-align: middle; color: {{ is_latest_version ? 'green' : 'red' }}">
                            {{ session.version() }}
                        </td>
                    </tr>

                    <tr>
                        <th>User agent</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {{ session.userAgent() }}
                        </td>
                    </tr>

                    {% if blacklist_reason is not empty %}
                        <tr>
                            <th>Status</th>
                            <td style="text-align: center; vertical-align: middle;">
                                <span style="color:red">HWID is blacklisted: {{ blacklist_reason }}</span>
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Status</th>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if block_reason is empty %}
                                <span style="color:green">Enable</span>
                            {% else %}
                                <span style="color:red">Blocked: {{ block_reason }}</span>

                            {% endif %}
                        </td>
                    </tr>

                    {% if session.paused() %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle">
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <span style="color:red">Paused client side</span>
                            </td>
                        </tr>
                    {% endif %}

                    {% if session.running() == false %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle">
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                <span style="color:red">Paused server side</span>
                            </td>
                        </tr>
                    {% endif %}

                    {% if user_logged.id() == session.user.id() %}
                        <tr>
                            <th>Action</th>
                            <td style="text-align: center; vertical-align: middle; '.$color.'">
                                {% if session.running() %}
                                    <input type="button" class="btn btn-warning" onclick="requestReloadOnSuccess('{{ path('app_session_running', {'session' : session.id(), 'state' : 0 }) }}', {}); return false" value="Pause"/>
                                {% else %}
                                    <input type="button" class="btn btn-success" onclick="requestReloadOnSuccess('{{ path('app_session_running', {'session' : session.id(), 'state' : 1 }) }}', {}); return false" value="Resume"/>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}


                    {% if user_logged.isModerator() %}

                        <tr>
                            <th>Action</th>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if session.blocked() == 0 %}
                                    Block session due to :
                                    <div class="input-group">
                                        <select name="blocked" id="blocked" class="form-control">
                                            {% for reason_id, reason_msg in sessions_block_reasons %}
                                                <option value="{{ reason_id }}">{{ reason_msg }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <input type="button" class="btn btn-danger" onclick="doBlockSession({{ session.id() }}); return false" value="Block"/>
                                        </span>
                                    </div>
                                {% else %}
                                    <input type="button" class="btn btn-primary" onclick="requestReloadOnSuccess('{{ path('app_session_block', {'session': session.id(), 'reason' : 0}) }}', {}); return false" value="Enable the session"/>
                                {% endif %}
                            </td>
                        </tr>

                        {% if blacklist_reason is empty %}
                            <tr>
                                <th>Action</th>
                                <td style="text-align: center; vertical-align: middle;">
                                    Blacklist HWID for:
                                    <div class="input-group">
                                        <select name="blocked_hwid" id="blocked_hwid" class="form-control">
                                            {% for reason_id, reason_msg in blacklist_reasons %}
                                                <option value="{{ reason_id }}">{{ reason_msg }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <input type="button" class="btn btn-danger" onclick="doBlockHWID('{{ session.user().id() }}','{{ session.hwid() }}'); return false" value="Blacklist"/>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>Action</th>
                            <td style="text-align: center; vertical-align: middle;">
                                <input type="button" class="btn btn-danger" onclick="requestReloadOnSuccess('{{ path('app_session_reset_all', {'sessionid' : session.id()}) }}', {}); return false" value="Reset session's frames"/>
                            </td>
                        </tr>

                    {% endif %}

                    {% if frames_processing is not empty %}
                        <tr>
                            <th>Current frames</th>
                            <td>
                                <table>
                                    {% for processing_array in frames_processing %}
                                        <tr>
                                            <td>
                                                project: <a href="{{ path('app_project_manage', {'project' : processing_array['project_id'] }) }}">{{ processing_array['project_path'] }}</a>
                                            </td>
                                            <td>
                                                frame: {{ processing_array['frame_number'] }}
                                            </td>
                                            <td>
                                                {% if processing_array['remaining'] > 0 %}
                                                    Remaining: {{ humanTimeHtml(processing_array['remaining']) }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if processing_array['rendering_for'] > 0 %}
                                                    Rendering for: {{ humanTimeHtml(processing_array['rendering_for'], false) }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                </table>

                <h1>Timeline</h1>
                <div class="container">
                    <div id="timeline_session" style="width: 44px;height: 44px;background: url('/media/image/fancybox_loading.gif') center center no-repeat;"></div>
                </div>

                <script>
                    const columns = [{type: 'string', id: 'Type'}, {type: 'string', id: 'Job'}, {type: 'date', id: 'Start'}, {type: 'date', id: 'End'}];
                    google.charts.setOnLoadCallback(drawTimeline);

                    function drawTimeline() {
                        $.ajax({
                            type: 'GET',
                            url: '{{ path('app_session_timeline', {'sessionid' : session.id() }) }}',
                            data: [],
                            dataType: 'json',
                            success: function (responseJson) {
                                for (let i = 0; i < responseJson.length; i++) {
                                    responseJson[i][2] = new Date(responseJson[i][2]);
                                    responseJson[i][3] = new Date(responseJson[i][3]);
                                }

                                $('#timeline_session').css("background", "");
                                $('#timeline_session').width("100%");
                                $('#timeline_session').height("400px");

                                timeline("Timeline", columns, responseJson, "timeline_session");
                                new LazyLoad(); // must be called after all the <img are loaded
                            },
                        });
                    }
                </script>


                {% if available_projects is not empty %}
                    <h2>Renderable projects</h2>
                    <div class="container">
                        <div>List of available projects.<br> The list is ordered, but it might not be 100% accurate since the project selection might depend on the main server status.</div>
                        <table class="table table-bordered table-striped table-comparision table-responsive sortable" style="width:80%">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">Project</th>
                                {% if user_logged.isModerator() %}
                                    <th style="text-align: center; vertical-align: middle;">Estimated render time</th>
                                {% endif %}
                                <th style="text-align: center; vertical-align: middle;"></th>
                            </tr>
                            </thead>

                            {% for a_project in available_projects %}
                                <tr>
                                    <td>
                                        {% if user_logged.isModerator() %}
                                            <a href="{{ path('app_project_manage', { 'project' : a_project['project_id']}) }}">{{ a_project['project_name'] }}</a>
                                        {% else %}
                                            {{ a_project['project_name'] }}
                                        {% endif %}
                                    </td>
                                    {% if user_logged.isModerator() %}
                                        <td style="text-align: center; vertical-align: middle;">
                                            {{ humanTimeHtml(a_project['duration']) }}
                                        </td>
                                    {% endif %}
                                    <td>
                                        {{ a_project['status'] |raw }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}

                {% if user_logged.isModerator() %}

                {% if errors is not empty %}
                    <h1>User's errors</h1>
                    <ul>
                        {% for error in errors %}
                            <li><a href="{{ path('app_session_log', {'filename' : 'error_' ~ error.time() ~ '_' ~ error.session() }) }}">{{ getTimeWithLocalTimeZone('H:i.s', error.time()) }}</a>
                                {{ ClientError_toHuman(error.type()) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                    <h1>Frames rendered</h1>
                    <div id="session_frames">
                        <div style="width: 44px;height: 44px;background: url('/media/image/fancybox_loading.gif') center center no-repeat;"></div>
                    </div>
                    <script>

                        $(document).ready(function () {
                            $.ajax({
                                type: 'GET',
                                url: '{{ path('app_session_frames', { 'sessionid' : session.id() }) }}',
                                data: [],
                                success: function (responseHTML) {
                                    $('#session_frames').html(responseHTML);
                                    new LazyLoad(); // must be called after all the <img are loaded
                                },
                            });
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
