{% extends 'base.html.twig' %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}

    {{ printOrangeHeader(
        'Strength per machine',
        'A machine is slow when its \'strength\' is lower than <strong> ' ~ percent_slow_machine ~ '%%</strong>. It will take easier jobs first but the points are still taking a big part in the scheduling process.<br>A machine is <strong>very</strong> slow when its \'strength\' is lower than <strong>' ~  percent_very_slow_machine ~ ' %%</strong>. It will take easier jobs first without taking any consideration of points. It will not take a project which has (only a) few frames remaining (to avoid to be the last frame to get validated).<br>',
        'Available machines'
    ) }}

    <section class="slice animate-hover-slide">
        <div class="w-section inverse">
            <div class="container">
                <ul>
                    <li>
                        <a href="#cpus">CPUs</a>
                    </li>
                    <li>
                        <a href="#gpus">GPUs</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <h1><a name="cpus">CPUs</a></h1>
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#">Model</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Strength</a></th>
                        {% if user_logged.isAdmin() %}
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Coef</a></th>
                        {% endif %}
                        {% if user_logged.isModerator() %}
                            <th style="text-align: center; vertical-align: middle;">Reset</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for cpu in cpus %}
                        <tr {% if cpu.is_mine %} class="danger" {% endif %}>
                            <td style="text-align: center; vertical-align: middle;">{{ cpu.description }}</td>
                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ cpu.power }}">
                                {{ "%.2d %%" | format(cpu.power) }}
                            </td>
                            {% if user_logged.isAdmin() %}
                                <td style="text-align: center; vertical-align: middle;" data-sort="{{ cpu.power_admin }}">
                                    {{ "%.2d %%" | format(cpu.power_admin) }}
                                </td>
                            {% endif %}
                            {% if user_logged.isModerator() %}
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="button" class="btn btn-danger" onclick="requestReloadOnSuccess('{{ path('app_cpu_reset', {'cpu' : cpu.id}) }}'); return false" value="Reset"/>
                                </td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container">
                <h1><a name="gpus">GPUs</a></h1>
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#">Model</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Memory</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Strength</a></th>
                        {% if user_logged.isAdmin() %}
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Coef</a></th>
                        {% endif %}
                        {% if user_logged.isModerator() %}
                            <th style="text-align: center; vertical-align: middle;">Reset</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for gpu in gpus %}
                        <tr {% if gpu.is_mine %} class="danger" {% endif %}>
                            <td style="text-align: center; vertical-align: middle;">{{ gpu.description }}</td>
                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ gpu.memory_int }}">{{ gpu.memory_GB }} GB</td>
                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ gpu.power }}">
                                {{ "%.2d %%" | format(gpu.power) }}
                            </td>
                            {% if user_logged.isAdmin() %}
                                <td style="text-align: center; vertical-align: middle;" data-sort="{{ gpu.power_admin }}">
                                    {{ "%.2d %%" | format(gpu.power_admin) }}
                                </td>
                            {% endif %}
                            {% if user_logged.isModerator() %}
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="button" class="btn btn-danger" onclick="requestReloadOnSuccess('{{ path('app_gpu_reset', {'gpu' : gpu.id}) }}'); return false" value="Reset"/>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>


{% endblock %}