{% extends 'base.html.twig' %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}

    {{ printOrangeHeader(
        'Can you spot yourself in the list?',
        'The ranking is based on points earned over the last 30 days.<br/>It is updated once a day.',
        'Top renderers for last 30 days'
    ) }}

    <section class="slice animate-hover-slide">
        <div class="w-section inverse">
            <div class="container">
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th><a class="sortable" href="#" data-type="int">Rank</a></th>
                        <th><a class="sortable" href="#">User</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Rendered frames</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Render time</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Points earned</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr {% if user.id == user_logged.id %} class="danger" {% endif %} >
                            <td data-sort="{{ user.rank }}">
                                {{ printRank(user.rank) }}
                            </td>
                            <td>
                                {{ printAvatar(user.id, false, true) }}
                                <a href="{{ path('app_user_profile', {'user' : user.id }) }}">{{ user.id }}</a>
                            </td>

                            <td data-sort="{{ user.frames }}">
                                {% if user.frames != 0 %}
                                    {{ number_format_html(user.frames) }}
                                {% endif %}
                            </td>

                            <td data-sort="{{ user.time }}">
                                {% if user.time != 0 %}
                                    {{ humanTimeHtml(user.time) }}
                                {% endif %}
                            </td>

                            <td data-sort="{{ user.points }}">
                                {% if user.points != 0 %}
                                    {{ humanSize_html(user.points) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}