{% extends 'base.html.twig' %}

{% block title %}
    Get Started
{% endblock %}

{% block content %}
    <section class="slice color-one">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse" style="padding-bottom:0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Get started!</h2>
                        <p>
                            The render farm relies on you to live; the more computers that are connected to the system, the better the service will be.<br/>
                            You don't need to have Blender installed, it will be downloaded for you.<br/>
                            Your own project will be rendered first, then your computer will help other users.<br/>
                            If you don't want to share your computer, but still help SheepIt, you should consider <a href="{{ path('app_donation_main') }}" style="color:#3b3e43">donating</a>.<br/>
                        </p>
                        <span class="clearfix"></span>
                    </div>
                    <div class="col-md-4" style="background:url('/media/image/server-closeup.jpg');background-repeat: no-repeat;background-position: center center;background-size: 100%; min-height:173px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice color-two-d">
        <div class="w-section pricing-plans inverse">
            <div class="container">
                <div class="row">
                    <h3>Download the client and start rendering now.</h3>
                    <a style="font-style: italic;" href="{{ path('app_faq_main') }}#participate">Minimum client requirements</a>
                </div>
                <div class="row">
                    {% if client_windows %}
                        <div class="col-md-3">
                            <div class="aside-feature">
                                <div class="icon-feature " style="text-align: center; vertical-align: middle;">
                                    <a href="{{ path('app_clientbinary_clientexelatest') }}">
                                        <img src="/media/image/windows-brands.svg" alt="windows" height="87px" width="100px"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if client_apple %}
                        <div class="col-md-3">
                            <div class="aside-feature">
                                <div class="icon-feature" style="text-align: center; vertical-align: middle;">
                                    <a href="{{ path('app_clientbinary_clientmaclatest') }}">
                                        <img src="/media/image/apple-brands.svg" alt="apple" height="87px" width="100px"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if client_java %}
                        <div class="col-md-3">
                            <div class="aside-feature">
                                <div class="icon-feature" style="text-align: center; vertical-align: middle;">
                                    <a href="{{ path('app_clientbinary_clientjarlatest') }}">
                                        <img src="/media/image/java-brands.png" alt="java" height="87px" width="47px"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-3">
                        <div class="aside-feature">
                            <div class="icon-feature" style="text-align: center; vertical-align: middle;">
                                <a href="https://hub.docker.com/r/sheepitrenderfarm/client">
                                    <img src="/media/image/docker.png" alt="linux" height="72px" width="100px"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if user_logged is not null %}
        {# logged user #}

        {{ printCreateProject() }}
    {% else %}
        {# annonymous #}

        <section class="slice color-three">
            <div class="container">
                <h3>Add your project</h3>
            </div>
            <div class="w-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2>
                                    <i class="fa fa-warning"></i> You need to be logged in to add a project.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}