{% extends 'base.html.twig' %}

{% block title %}
    Blender binaries
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Available binaries</h1>
        <table class="table table-bordered table-striped table-comparision table-responsive">
            <tr>
                <th></th>
                {% for arch in archs %}
                    <th style="text-align: center; vertical-align: middle;">{{ arch }}</th>
                {% endfor %}
            </tr>
            {% for blender in blenders %}
            <tr>
                {% for data in blender %}
                    <td style="text-align: center; vertical-align: middle;">
                        {{ data | raw }}
                    </td>
                {% endfor %}
                {% endfor %}
            </tr>
        </table>

        <h1>Version used</h1>

        <script>
            var piechart_executable_project_version = {{ js_project_version_values | raw }};
            var options = {
                'backgroundColor': {fill: 'transparent'},
                'colors': ['#dc5430'],
                'legend': {position: 'in'},
                'vAxis': {minValue: 0}
            };

            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                piechart("Version distribution", piechart_executable_project_version, "piechart_executable_project_version_div");
            }
        </script>

        <div id="piechart_executable_project_version_div" style="width: 800px; height: 500px;"></div>

    </div>

{% endblock %}