{% extends 'base.html.twig' %}

{% block title %}
    Frames
{% endblock %}

{% block content %}
    {{ printBreadcrumbs('frames', []) }}

    <script>
        var line_rendered_frames_by_day = [{{ line_rendered_frames_by_day | raw }}];
        var line_time_ordered_per_day = [{{ line_time_ordered_per_day | raw }}];
        var line_remaining_frames_public_by_hour = [{{ line_remaining_frames_public_by_hour | raw }}];
        var project_distribution = [{{ project_distribution_str | raw }}];
        {% if user_logged.isAdmin() %}
        var line_remaining_frames_by_hour = [{{ line_remaining_frames_by_hour | raw }}];
        {% endif %}

        const ChartStyles = getComputedStyle(document.documentElement);
        let colorChartText = ChartStyles.getPropertyValue('--color-chart-text').trim();
        let colorChartGridline = ChartStyles.getPropertyValue('--color-chart-gridline').trim();
        let colorChartMinorgridline = ChartStyles.getPropertyValue('--color-chart-minorgridline').trim();
        let colorChartLine = ChartStyles.getPropertyValue('--color-chart-line').trim();
        var options = {
            backgroundColor: {fill: "transparent"},
            titleTextStyle: {
                color: colorChartText,
            },
            hAxis: {
                textStyle: {color: colorChartText},
                titleTextStyle: {color: colorChartText},
            },
            vAxis: {
                textStyle: {color: colorChartText},
                titleTextStyle: {color: colorChartText},
                gridlines: {color: colorChartGridline},
                minorGridlines: {color: colorChartMinorgridline},
                minValue: 0,
            },
            colors: [colorChartLine],
            fontName: "'Roboto Condensed', sans-serif !important",
            legend: {position: 'in'},
            curveType: 'function',
            chartArea: {top: 20, left: 60, width: '100%', height: '80%'},

        };
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            linechart("Rendered frames per day", options, line_rendered_frames_by_day, "linechart_div_rendered_frames_by_day");
            linechart("Render time per day", options, line_time_ordered_per_day, "linechart_div_line_time_ordered_per_day");
            {% if user_logged.isAdmin() %}
            linechart("Remaining frames including private project", options, line_remaining_frames_by_hour, "linechart_div_remaining_frames_by_hour");
            {% endif %}
            linechart("Remaining frames", options, line_remaining_frames_public_by_hour, "linechart_div_remaining_frames_public_by_hour");
            piechart("Computing distribution", project_distribution, "piechart_div_project_distribution");
        }
    </script>

    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse">
            <div class="container">
                <div id="linechart_div_remaining_frames_public_by_hour" style="width: 1200px; height: 500px;"></div>
                <div id="linechart_div_rendered_frames_by_day" style="width: 1200px; height: 500px;"></div>
                <div id="linechart_div_line_time_ordered_per_day" style="width: 1200px; height: 500px;"></div>
                {% if user_logged.isAdmin() %}
                    <div id="linechart_div_remaining_frames_by_hour" style="width: 1200px; height: 500px;"></div>
                {% endif %}
                <div id="piechart_div_project_distribution" style="width: 1200px; height: 500px;"></div>
            </div>
            <div class="container">
                <h1>Processing frames</h1>

                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        <th><a class="sortable" href="#">Project</a></th>
                        <th><a class="sortable" href="#">Frame</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc">User</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Request time</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Estimated render time</a></th>
                        <th><a class="sortable" href="#" data-default-order="desc" data-type="int">Remaining render time</a></th>
                        <th>Machine</th>
                        {% if user_logged.isModerator() %}
                            <th><a class="sortable" href="#">Last request from machine</a></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for tile in tiles %}
                        <tr>
                            <td style="overflow-wrap: break-word;" data-sort="{{ tile['project_name'] }}">{{ tile['project_path'] | raw }}</td>
                            <td>{{ tile['frame_number'] }}{{ tile['frame_number'] }}</td>
                            <td data-sort="{{ tile['id'] }}">
                                {{ printOwnerLink(tile['owner']) }}
                            </td>
                            <td data-sort="{{ tile['duration'] }}">{{ humanTimeHtml(tile['duration'], false) }}</td>
                            <td data-sort="{{ tile['est_time_value'] }}">{{ tile['est_time'] }}</td>
                            <td data-sort="{{ tile['rem_time_value'] }}">{{ tile['rem_time'] }}</td>
                            <td>{{ tile['machine_str'] | raw }}</td>
                            {% if user_logged.isModerator() %}
                                <td>
                                    {{ humanTimeHtml(date().timestamp - tile['session'].getTimestamp()) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}