{% extends 'base.html.twig' %}

{% block title %}
    Machines
{% endblock %}

{% block content %}
    {{ printBreadcrumbs(title_breadcrumbs, [
    ]) }}
    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse">
            <div class="container">

                <script>
                    var sessions_by_hours = [ {{ sessions_by_hours | raw }}];
                    var sessions_by_day = [{{ sessions_by_day | raw }}];
                    var piechart_os = {{ js_values_os | raw }}
                    var piechart_compute_device = {{ js_values_compute_device | raw }}


                    const ChartStyles = getComputedStyle(document.documentElement);
                    let colorChartText = ChartStyles.getPropertyValue('--color-chart-text').trim();
                    let colorChartGridline = ChartStyles.getPropertyValue('--color-chart-gridline').trim();
                    let colorChartMinorgridline = ChartStyles.getPropertyValue('--color-chart-minorgridline').trim();
                    let colorChartLine = ChartStyles.getPropertyValue('--color-chart-line').trim();
                    var options = {
                        backgroundColor: {fill: "transparent"},
                        titleTextStyle: {
                            color: colorChartText,
                        },
                        hAxis: {
                            textStyle: {color: colorChartText},
                            titleTextStyle: {color: colorChartText},
                        },
                        vAxis: {
                            textStyle: {color: colorChartText},
                            titleTextStyle: {color: colorChartText},
                            gridlines: {color: colorChartGridline},
                            minValue: 0,
                        },
                        legend: {
                            textStyle: {color: colorChartText},
                            position: "in"
                        },
                        colors: [colorChartLine],
                        fontName: "'Roboto Condensed', sans-serif !important",
                        legend: {position: 'none'},
                    };
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {
                        linechart("Connected machines per hour", options, sessions_by_hours, "linechart_div_session_by_hours");
                        linechart("Average connected machines per day", options, sessions_by_day, "linechart_div_sessions_by_day");
                        piechart("OS distribution", piechart_os, "piechart_session_os_div");
                        piechart("Compute device distribution", piechart_compute_device, "piechart_compute_device_div");
                    };
                </script>

                <div class="row" id="linechart_div_session_by_hours" style="width: 1200px; height: 500px;"></div>
                <div class="row" id="linechart_div_sessions_by_day" style="width: 1200px; height: 500px;"></div>

                <div class="rows">
                    <div class="col-md-6" id="piechart_session_os_div" style="width: 550px; height: 500px;"></div>
                    <div class="col-md-6" id="piechart_compute_device_div" style="width: 550px; height: 500px;"></div>
                </div>

                {% if user_logged.isModerator() %}
                    <h1>Session distribution</h1>
                    <script>
                        var piechart_session_version = {{ piechart_session_version| raw }};
                        var piechart_session_version_linux = {{ piechart_session_version_linux| raw }};
                        var piechart_session_version_windows = {{ piechart_session_version_windows| raw }};
                        var piechart_session_version_mac = {{ piechart_session_version_mac| raw }};
                        var piechart_gpu_headless = {{ piechart_gpu_headless| raw }};
                        var piechart_session_power_cpu = {{ piechart_session_power_cpu| raw }};
                        var piechart_session_power_gpu = {{ piechart_session_power_gpu| raw }};
                        var piechart_session_scheduler = {{ piechart_session_scheduler| raw }};
                        //
                        google.charts.setOnLoadCallback(drawChartAdmin);

                        function drawChartAdmin() {
                            piechart("Version distribution", piechart_session_version, "piechart_session_version_div");
                            piechart("Version distribution for Linux", piechart_session_version_linux, "piechart_session_version_linux_div");
                            piechart("Version distribution for Windows", piechart_session_version_windows, "piechart_session_version_windows_div");
                            piechart("Version distribution for Mac", piechart_session_version_mac, "piechart_session_version_mac_div");
                            piechart("GPU headless distribution", piechart_gpu_headless, "piechart_gpu_headless_div");
                            piechart("Power distribution CPU", piechart_session_power_cpu, "piechart_session_power_cpu_div");
                            piechart("Power distribution GPU", piechart_session_power_gpu, "piechart_session_power_gpu_div");
                            piechart("Scheduler distribution", piechart_session_scheduler, "piechart_session_scheduler_div");
                        }
                    </script>

                    <div class="rows" id="piechart_session_version_div" style="width: 800px; height: 500px;"></div>

                    <div class="rows">
                        <div class="col-md-6" id="piechart_session_version_windows_div" style="width: 550px; height: 500px;"></div>
                        <div class="col-md-6" id="piechart_session_version_linux_div" style="width: 550px; height: 500px;"></div>
                    </div>

                    <div class="rows">
                        <div class="col-md-6" id="piechart_session_version_mac_div" style="width: 550px; height: 500px;"></div>
                    </div>

                    <div class="rows">
                        <div class="col-md-6" id="piechart_gpu_headless_div" style="width: 550px; height: 500px;"></div>
                    </div>

                    <div class="rows">
                        <div class="col-md-6" id="piechart_session_power_cpu_div" style="width: 550px; height: 500px;"></div>
                        <div class="col-md-6" id="piechart_session_power_gpu_div" style="width: 550px; height: 500px;"></div>
                    </div>

                    <div class="rows">
                        <div class="col-md-6" id="piechart_session_scheduler_div" style="width: 550px; height: 500px;"></div>
                    </div>
                {% endif %}
                <table class="table table-bordered table-striped table-comparision table-responsive sortable">
                    <thead>
                    <tr>
                        {% if user_logged.isModerator() %}
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#">Country</a></th>
                        {% endif %}
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#">Model</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Memory</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Rendered frames</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc">Creation time</a></th>
                        {% if user_logged.isModerator() %}
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Last request</a></th>
                        {% endif %}
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Last validated Job</a></th>
                        <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc">User</a></th>
                        {% if user_logged.isModerator() %}
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc">OS</a></th>
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Version</a></th>
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Power</a></th>
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc" data-type="int">Max time</a></th>
                            <th style="text-align: center; vertical-align: middle;"><a class="sortable" href="#" data-default-order="desc">Admin</a></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr {{ session['style_tr']|raw }}>

                            {% if user_logged.isModerator() %}
                                <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['country'] }}">
                                    <img data-src="/media/image/flag/{{ session['country'] }}.png"/>
                                </td>
                            {% endif %}

                            <td style="text-align: center; vertical-align: middle;">
                                {% if user_logged.isModerator() or user_logged.id() == session['user_id'] %}
                                    <a href="{{ path('app_session_single', {'sessionid' : session['id']}) }}">{{ session['device'] }}</a>
                                {% else %}
                                    {{ session['device'] }}
                                {% endif %}
                            </td>

                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['ram_int'] }}">
                                {{ session['ram'] }}
                            </td>

                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['renderedFrames_int'] }}">
                                {{ session['renderedFrames'] | raw }}
                            </td>

                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['creationtime'] }}">
                                {{ getTimeWithLocalTimeZone('H:i M d', session['creationtime']) }}
                            </td>

                            {% if user_logged.isModerator() %}
                                <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['last_request'] }}">
                                    {% if session['last_request'] > 0 %}
                                        {{ humanTimeHtml(date().timestamp - session['last_request'], false) }}
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['last_validation'] }}">
                                {{ session['last_validation_str'] |raw }}
                            </td>

                            <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['user_id'] }}">
                                {{ printOwnerLink(session['user_id']) }}
                            </td>

                            {% if user_logged.isModerator() %}
                                <td style="text-align: center; vertical-align: middle;">
                                    {{ session['os'] }}
                                </td>


                                <td style="text-align: center; vertical-align: middle; color: {{ session['is_latest_version'] ? 'green' : 'red' }}" data-sort="{{ session['version_int'] }}">
                                    {{ session['version'] }}
                                </td>

                                {% if user_logged.isModerator() %}
                                    <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['power_int'] }}">
                                        {{ session['power'] }}
                                    </td>
                                {% endif %}

                                <td style="text-align: center; vertical-align: middle;" data-sort="{{ session['max_rendertime'] }}">
                                    {% if session['max_rendertime'] > 0 %}
                                        {{ humanTimeHtml(session['max_rendertime']) }}
                                    {% endif %}
                                </td>

                                <td style="text-align: center; vertical-align: middle;">
                                    {% if session['enable'] %}
                                        <input type="button" class="btn btn-danger btn-xs" onclick="admin_session_block('{{ session['id'] }}', '99'); return false" value="Block"/>
                                    {% else %}
                                        <input type="button" class="btn btn-success btn-xs" onclick="admin_session_block('{{ session['id'] }}', '0'); return false" value="Unblock"/>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if user_logged.isModerator() %}
                    <div class="container">
                        Unique users: {{ unique_users|length }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>


{% endblock %}