{% extends 'base.html.twig' %}

{% block title %}
    SheepIt
{% endblock %}

{% block content %}
    <section class="slice color-one">
        {{ displayGoogleAdsense() }}

        <div class="cta-wr">
            <div class="container">
                <div class="row">
                    <center>
                        <h1>
                            <strong>SheepIt</strong> is a free distributed renderfarm for Blender. Try it now!
                        </h1>
                    </center>
                </div>
            </div>
        </div>
    </section>

    <section class="slice color-two-d">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    {{ printHomeFeature2('fa-users', 'Collaborative', 'Instantly become a member to help other users render.<br/>' ~ number_format_html(average_connected_machine) ~ 'machines are connected on average.') }}
                    {{ printHomeFeature2('fa-gift', 'Free', 'Free registration.<br/>Free project adding.<br/>Free rendering.') }}
                    {{ printHomeFeature2('fa-laptop', 'User-friendly', 'Manage your project easily on a web based admin panel.<br/> Real time updates on your projects.<br/>Blender is not needed to help to render.') }}
                    {{ printHomeFeature2('fa-check', 'Render engines', 'Cycles<br>Eevee<br>Workbench') }}
                </div>
            </div>
        </div>
    </section>
    {#    {% if advent_calendar_is_active %} #}
    {#        <div id="advent_calendar"> #}
    {#            {{ printAdventCalendar() }} #}
    {#        </div> #}
    {#    {% endif %} #}

    <section class="slice animate-hover-slide color-three">
        {{ displayDashboardStats() }}
        <div class="section-title color-one">
            <h3>Latest news</h3>
            <div class="indicator-down color-one"></div>
        </div>
    </section>

    <section class="slice animate-hover-slide">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    {% for a_news in first_news %}
                        {{ printNews(a_news) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

