{% extends 'base.html.twig' %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    {{ printBreadcrumbs(title_breadcrumbs, [
    ]) }}
    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse">
            <div class="container">
                <br>

                You can add your project on the <a href="{{ path('app_getstarted_main') }}">Get Started page</a>.
                <br><br><br>

                <table class="table table-mobilefriend table-bordered table-striped table-comparision table-responsive sortable">
                    {{ printProjectTRHeader(active_extras) }}
                    {% for project in active_projects %}
                        {{ printProjectTR(project, true, active_extras) }}
                    {% endfor %}
                </table>

                {% if private_projects is not empty and user_logged.isModerator() %}
                    <h1>{{ private_projects | length }} Private projects</h1>
                    <table class="table table-mobilefriend table-bordered table-striped table-comparision table-responsive sortable">
                        {{ printProjectTRHeader(private_extras) }}
                        {% for project in private_projects %}
                            {{ printProjectTR(project, true, private_extras) }}
                        {% endfor %}
                    </table>
                {% endif %}

                {% if blocked_projects is not empty and user_logged.isModerator() %}
                    <h1>{{ blocked_projects | length }} Blocked projects </h1>
                    <table class="table table-mobilefriend table-bordered table-striped table-comparision table-responsive sortable">
                        {{ printProjectTRHeader(blocked_extras) }}
                        {% for project in blocked_projects %}
                            {{ printProjectTR(project, true, blocked_extras) }}
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}