{% extends 'base.html.twig' %}



{% block content %}

    <h2>SheepIt give way!</h2>

    <center>

        If you click on this cheese you will get a free render day to fill up a hole in the past<br>
        Why? Because the French owner of SheepIt loves cheese with holes!<br>
        <i>You can only get the give way once</i><br>
        <a href="{{ path('app_cheesegiveaway_cheese') }}">
            <img src="/media/image/cheese.jpg" width="200px">
        </a>

    </center>

{% endblock %}