{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block content %}
    <div class="container">
        <section class="slice animate-hover-slide">
            <div class="w-section inverse">
                {% for route, action in actions %}
                    <div class="col-md-3 fulladmin-button">
                        <a href="{{ path(route) }}">
                            <i class="fa fa-{{ action.icon }}"></i><br/>
                            {{ action.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
