{% extends 'base.html.twig' %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}

    {{ printOrangeHeader('Frequently asked questions', 'You have questions? We have answers.','FAQ') }}

    <section class="slice">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        {{ printFaqItems('General', faq.general, 1) }}
                    </div>
                    <div class="col-md-3">
                        <h3>Contact</h3>
                        {{ printBlueBox('lightbulb', 'Another question?', "If you didn't find the answer to your question; please use the <a href=\"/forum\">forum</a> or <a href=\"" ~ discord_invite ~ "\">Discord</a>, the community will help you") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ printFaqItems('Rendering', faq.rendering, 3) }}
                    </div>
                    <div class="col-md-6">
                        {{ printFaqItems('Client', faq.client, 3) }}
                    </div>
                    <div class="col-md-6">
                        {{ printFaqItems('Contact', faq.contact, 4) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


