{% extends 'base.html.twig' %}

{% block title %}
    Gift
{% endblock %}

{% block content %}

    <section class="slice animate-hover-slide color-three">
        <div class="w-section inverse">
            <div class="container">
                <div style="text-align: center;">
                    <h2>Gift</h2>
                    You have a gift of <strong>{{ number_format_html(gift.value) }} points</strong>.<br><br>{{ gift.comment() | raw }}
                    <br/>
                    <br/>
                    <form action="{{ path('app_giftanonymous_claim', {'gift' : gift.id()}) }}" method="get">
                        <input type="submit" id="gift_claim_submit" value="Claim this gift"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}