{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <section class="color-two slice">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center">
                        {{ printUserAvatar(user) }}
                        {{ printSocialNetworks(user) }}
                    </div>
                    <div class="col-md-4 login">
                        {{ printLoginHead(user, rank, type) }}
                    </div>
                    <div class="col-md-4">
                        {{ printSummary(user, rank, type) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title color-three">
            <h3>User settings</h3>
            <div class="indicator-down color-three"></div>
        </div>
    </section>

    <div id="user_settings_section">
        {% include 'user/edit_settings.html.twig' with {'show_category': ''} %}
    </div>
{% endblock %}
