{% block content %}
    <section class="slice">
        <div class="w-section inverse blog-grid">
            <div class="container">
                <div class="item col-md-2">
                    <script>
                        var all_cat = ['email', 'password', 'referral', 'avatar', 'social_network', 'scheduler', 'notification', 'render_keys', 'blacklist', 'sponsor', 'delete'];
                    </script>
                    <table class="table table-bordered table-striped table-comparision table-responsive">
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('avatar', all_cat);         return false">Avatar</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('email', all_cat);          return false">E-mail</a></td>
                        </tr>
                        {% if type == 'private' %}
                            <tr>
                                <td><a href="#" onclick="profileEditSwitchto('password', all_cat);       return false">Password</a></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('social_network', all_cat); return false">Social network</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('notification', all_cat);   return false">Notifications</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('scheduler', all_cat);      return false">Scheduler settings</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('render_keys', all_cat);    return false">Render keys</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('blacklist', all_cat);      return false">Blacklist</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('sponsor', all_cat);      return false">Sponsorship</a></td>
                        </tr>
                        <tr>
                            <td><a href="#" onclick="profileEditSwitchto('referral', all_cat); return false">Referral link</a></td>
                        </tr>
                        {% if type == 'private' %}
                            <tr>
                                <td><a href="#" onclick="profileEditSwitchto('delete', all_cat); return false">Delete</a></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="item col-md-10">
                    <div id="profile_edit_category_avatar" style="display: {{ show_category == 'avatar' or show_category == '' ? 'block' : 'none ' }}">
                        {% if type == 'private' %}
                            {{ printChangeAvatar() }}
                        {% endif %}
                    </div>
                    <div id="profile_edit_category_email" style="display: {{ show_category == 'email' ? 'block' : 'none ' }}">
                        {% if type != 'admin' or user_logged.isSuperAdmin() %}
                            {{ printMyEmail(user) }}
                        {% endif %}
                        {% if type == 'private' %}
                            {{ printChangeEmail(user) }}
                        {% endif %}
                    </div>
                    <div id="profile_edit_category_password" style="display: {{ show_category == 'password' ? 'block' : 'none ' }}">
                        {% if type == 'private' %}
                            {{ printChangePassword(user) }}
                        {% endif %}
                    </div>
                    <div id="profile_edit_category_referral" style="display: {{ show_category == 'referral' ? 'block' : 'none ' }}">

                        {{ printAffiliateLink(user) }}

                    </div>
                    <div id="profile_edit_category_social_network" style="display: {{ show_category == 'social_network' ? 'block' : 'none ' }}">
                        {% if type == 'private' %}
                            {{ printChangeWebsite(user) }}
                            <br>
                            {{ printChangeSocialNetworks(user) }}
                        {% endif %}
                    </div>
                    <div id="profile_edit_category_scheduler" style="display: {{ show_category == 'scheduler' ? 'block' : 'none ' }}">
                        {{ printChangeScheduler(user, type) }}
                    </div>
                    <div id="profile_edit_category_notification" style="display: {{ show_category == 'notification' ? 'block' : 'none ' }}">
                        {{ printChangeNotifications(user, type) }}
                    </div>
                    <div id="profile_edit_category_render_keys" style="display: {{ show_category == 'render_keys' ? 'block' : 'none ' }}">
                        {{ printSharedKeys(user, type) }}
                    </div>
                    <div id="profile_edit_category_blacklist" style="display: {{ show_category == 'blacklist' ? 'block' : 'none ' }}">
                        {{ printBlockRenderers(user, type) }}
                        {{ printBlockOwners(user, type) }}
                    </div>
                    <div id="profile_edit_category_sponsor" style="display: {{ show_category == 'sponsor' ? 'block' : 'none ' }}">
                        {{ printSponsor(user, type) }}
                    </div>
                    {% if type == 'private' %}
                        <div id="profile_edit_category_delete" style="display: {{ show_category == 'delete' ? 'block' : 'none ' }}">
                            {{ printLinkRemoveAccount(user) }}
                        </div>
                    {% endif %}
                </div>
            </div>
    </section>
{% endblock %}

