{% extends 'base.html.twig' %}

{% block title %}
    Messages
{% endblock %}

{% block content %}
    {% if user_logged.isModerator() %}
        {{ printBreadcrumbs('Messages', [
            {'title': 'User\'s profile', 'url': path('app_user_profile', {'user' : user.id()})}
        ]) }}
    {% endif %}
    <div class="container">
        <article class="chatSys">
            <section class="window">
                {% for message in messages %}
                    {% if message.sender() == user.id() %}
                        {# from user #}
                        {{ printMessageRight(message) }}
                    {% else %}
                        {# usually from admin #}
                        {{ printMessageLeft(message) }}
                    {% endif %}
                {% endfor %}
            </section>
        </article>

        {{ user_logged.id() == user.id() ? '<h2>Message to the admins</h2>' : '<h2>Message the user</h2>' }}
        <div class="padding-15">
            <form class="form" action="javascript:;">
                <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Write you message here" name="comment" style="height:160px;"></textarea>
                </div>
                <button type="button" class="btn btn-three pull-right" onclick="DoSendMessage('{{ path('app_user_send_message', {'user': user.id}) }}'); return false">Send</button>
            </form>
        </div>
    </div>
{% endblock %}

