{% extends 'base.html.twig' %}

{% block title %}
    {{ user.id() }}
{% endblock %}

{% block content %}
    <section class="color-two slice">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center">
                        {{ printUserAvatar(user) }}
                        {{ printSocialNetworks(user) }}
                    </div>
                    <div class="col-md-4 login">
                        {{ printLoginHead(user, rank, type) }}
                    </div>
                    <div class="col-md-4">
                        {{ printSummary(user, rank, type) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice">
        <div class="w-section inverse blog-grid">
            <div class="container">
                <div id="masonryWr" class="row">
                    <div class="item col-md-6">
                        {{ printMachines(user, type != 'public') }}
                    </div>
                    <div class="item col-md-6">
                        {{ printProjects(user, type) }}
                    </div>
                    {% if type != 'public' %}
                        <div class="item col-md-6">
                            {{ printGifts(user) }}
                        </div>
                        <div class="item col-md-6">
                            {{ printLastFrames(user, type) }}
                        </div>
                        <div class="item col-md-6">
                            {{ printSessions(user) }}
                        </div>
                    {% endif %}
                    {% if type == 'admin' %}
                        <div class="item col-md-6">
                            {{ printPrivateMessages(user, type) }}
                        </div>
                        <div class="item col-md-6">
                            {{ printAddProjectRight(user, type) }}
                        </div>
                        <div class="item col-md-6">
                            {{ printRenderingRight(user, type) }}
                        </div>
                        {% if user.level != 1 %}
                            <div class="item col-md-6">
                                {{ printChangeAcl(user) }}
                            </div>
                        {% endif %}

                        {% if user_logged.isAdmin() %}
                            <div class="item col-md-6">
                                {{ printGiveAward(user) }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if type == 'admin' %}
                    <div class="row">
                        <div class="item col-md-12">
                            {{ printPastProjects(user, type) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="item col-md-12">
                        {{ printPointsChart(user, type) }}
                    </div>
                </div>

                <div class="row">
                    {{ printAwards(user) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}



