{% extends 'base.html.twig' %}

{% block title %}
    Welcome to {{ site_name }}
{% endblock %}

{% block content %}
    <h1>Welcome to {{ site_name }}</h1>
    Registration complete. You can now <a href="{{ path('app_user_signin') }}">log in.</a>

{% endblock %}