{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}


{% block content %}
    <section class="slice ">
        <div class="w-section inverse">
            {{ displayGoogleAdsense() }}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Welcome to Sheepit</h2>
                            <p style="font-size:16px;">
                                Create your own account and explore more.
                            </p>
                        </div>
                        <div id="register_content">
                        </div>
                        <div id="register_error_box">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="w-section inverse">
                            <div class="w-box dark sign-in-wr">
                                <form class="form-light padding-15" id="register_form" onsubmit="return doRegister()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="firstName">Username</label>
                                                <input type="text" id="register_login" value="" maxlength="32" class="form-control" placeholder="Username (Note: username can NOT be changed once created)"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="register_email" value="" maxlength="64" class="form-control" placeholder="Email"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="pass">Password</label>
                                                <input type="password" id="register_password" value="" maxlength="32" class="form-control" placeholder="Password"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="pass2">Confirm password</label>
                                                <input type="password" id="register_password_confirm" value="" maxlength="32" class="form-control" placeholder="Type password again"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="checkbox persistent">
                                                <input type="checkbox" name="checkbox_termssofuse" id="checkbox_termssofuse" value="yes" onchange="terms_of_use(); return false" required>
                                                I accept the terms and conditions of this website.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" id="register_submit" value="Register" class="btn btn-three pull-right" style="display: none;"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <h3>Terms of use</h3>
                        <h4>Run the worker only on authorized computers</h4>
                        <p>Run the worker only on computers that you own, or for which you have obtained the owner's permission.</p>
                        <h4>How the farm will use your computer</h4>
                        <p>When you run the farm-worker on your computer, it will use part of the computer's CPU power, disk space, and network bandwidth.</p>
                        <h4>Privacy policy</h4>
                        <p>Your account is identified by a name that you choose. This name will be shown on statistics page of the website. If you want to be anonymous, choose a name that doesn't reveal your identity.</p>
                        <p>If you participate in a rendering, information about your computer (such as its processor type, amount of memory, etc.) will be recorded by us and used to decide what type of work to assign to your computer. This information will also be shown on the website, such as statistics page or project pages. Nothing that reveals your computer's location (e.g. its domain name or network address) will be shown.</p>
                        <h4>Liability</h4>
                        <p>This website assumes no liability for damage to your computer, loss of data, or any other event or condition that may occur as a result of participating in a render.</p>
                        <h4>Abuse of the renderfarm</h4>
                        <p>
                            Abuse may include, but is not limited to: operating multiple accounts to circumvent SheepIt limitations, operating a custom client designed to cheat the scoring system or inject malicious code into the farm, uploading pornographic or other NSFW projects to be rendered.<br>
                            <br>
                            Users found abusing the renderfarm may find their projects removed and their accounts blocked from participating without warning.<br>
                            SheepIt is a community of shared resources, not a charity. Play safe, play fair.
                        </p>
                        {% if affiliate_program is not null %}
                            <h3>{{ affiliate_program['registration']['title'] }}</h3>
                            <p>{{ affiliate_program['registration']['text'] }}</p>
                            }
                        {% endif %}
                        {% if affiliate_user is not null %}
                            <h3>Referrer user</h3>
                            <p>You have been referred by a user, when you will have rendered {{ number_format_html(affiliate_user_minimum_frame) }} public frames,
                                you and your friend will receive {{ number_format_html(affiliate_user_reward) }} points.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


