{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Delete my account</h2>
        <p>
            We're sorry you want to delete your account, <br>
            please let us know why you want to remove it.
        </p>
        <p>
            Why I want to remove my account:<br>
        <form id="remove_account" action="javascript:;" action="javascript:;" onsubmit="doRemoveAccount(); return false">
            <textarea id="account_remove_comment" rows="5" cols="60" name="account_remove_comment" onchange="$('#span_removeaccount_button').show(); $('#span_removeaccount_text').hide(); return false" onkeyup="$('#span_removeaccount_button').show(); $('#span_removeaccount_text').hide(); return false"></textarea>
            <br/>
            <span id="span_removeaccount_button" style="display: none;">
                <input type="submit" class="btn btn-danger" style="margin-top: 4px" id="removeaccount_submit" value="Remove my account"/>
                </span>
            <span id="span_removeaccount_text">
                To enable the button, give a reason.
                </span>
        </form>
        </p>
    </div>

{% endblock %}