{% extends 'base.html.twig' %}

{% block title %}
    Notification management
{% endblock %}

{% block content %}
    <div id="profile_notifications">
        <h4>Notifications</h4>

        Get notified by e-mail when:
        <form id="profile_modification_notification" action="javascript:;">
            {% for mask, human_text in notifications %}
                <div class="checkbox">
                    <label>
                        <input {{ user.noficationIsEnabled(mask) ? 'checked="checked"' : '' }} onclick="DoChangeNotificationUnsubscribe('{{ user.notificationToken }}','{{ mask }}', 'notification_{{ mask }}');" type="checkbox" name="notification_{{ mask }}" id="notification_{{ mask }}" value="notification_{{ mask }}">
                        {{ human_text }}
                    </label>
                </div>
            {% endfor %}
        </form>
    </div>

{% endblock %}



