{% extends 'base.html.twig' %}

{% block title %}
    Gift
{% endblock %}

{% block content %}

    <div class="w-section inverse">
        <div class="container">
            <center>
                <h2>Gift</h2>
                You have a gift of <strong>{{ number_format_html(gift.value) }} points</strong>, it will expire on
                {{ getTimeWithLocalTimeZone('F, jS', gift.expiration()) }}
                <br><strong>{{ gift.comment | raw }}</strong>.<br>The gift has an expiration date BUT once you do claim it, the points given will never expire.
                <br/>
                <br/>

                <form action="{{ path('app_gift_claim', {'gift' : gift.id, 'key' : gift.key}) }}" method="get">
                    <input type="submit" id="gift_claim_submit" value="Claim this gift"/>
                </form>
            </center>
        </div>
    </div>

{% endblock %}