/*css by EyeForcz*/

.advent {
	position: relative;
	overflow: hidden;
}

.advent-bg {
	background: linear-gradient(
			298deg,
			#c8211857,
			#b6c81857,
			#235e6f57,
			#c8211857,
			#0ce11777,
			#c8211857,
			#2594e457,
			#f5624d57,
			#0f8a5f57
	);
	background-size: 800% 800%;
	animation: door-bg-1 10s ease-in-out infinite;
}

.advent > .blabla {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;
}

.advent .ac-title {
	font-size: 8rem;
	font-weight: bold;
}

.advent > .toppart {
	color: #008000;
	margin-bottom: 1rem;
	text-shadow: 0px 0px 18px #e017175e;
}

.advent > .bottompart {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	background-color: #ffffff7a;
	border-radius: 0.5rem;
	color: #000000c2;
}

.advent > .bottompart > .ac-title {
	font-size: 3rem;
	text-decoration: underline dotted #dc1d13;
}

.advent > .bottompart > .ac-desc {
	padding: 1.5rem 0px;
	width: 70%;
	font-size: 2rem;
}

.advent > .calender {
	border: 1rem dotted #008000;
}

.advent > .calender > .windows > .ac-popupwindow {
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 70rem;
	height: 30rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffffd6;
	border: 1rem dotted rgba(246, 58, 58, 0.826);
	border-radius: 0.5rem;
	z-index: 1;
}

.advent > .calender > .windows > .ac-popupwindow > p {
	padding: 1rem 2rem;
	word-break: normal;
	font-size: 3rem;
	color: #000000c2;
	text-align: center;
}

.advent > .calender > .windows {
	display: block;
	position: relative;
}

.advent > .calender > .windows > img {
	width: 100%;
	height: auto;
	border: 0.1rem solid #00000073;
	border-radius: 0.5rem;
}

.advent > .calender > .windows > .door {
	position: absolute;
	overflow: hidden;
	width: 10%;
	height: 10%;
}

.advent > .calender > .windows > .door {
	box-shadow: 5px 7px 21px 0px rgba(0, 0, 0, 0.5);
}

.advent > .calender > .windows > .door.today:hover {
	background: linear-gradient(298deg, #c8211857, #b6c81857);
	background-size: 800% 800%;
	animation: door-bg-1 4s ease-in-out infinite;
}

.advent > .calender > .windows > .door.open {
	background-color: #0000000f;
	box-shadow: inset 4px 3px 2px 2px rgb(0 0 0 / 51%);
}

.advent > .calender > .windows > .door.open:hover {
	width: 13%;
	height: 13%;
	transition: all 0.2s ease-in;
	transition: width height 3s ease-in-out;
	background-color: #00000040;
}

.advent > .calender > .windows > .door.open.today {
	background: linear-gradient(298deg, #c8211857, #b6c81857);
	background-size: 800% 800%;
	animation: door-bg-1 4s ease infinite;
}

.advent > .calender > .windows > .door > .ac-day {
	user-select: none;
	position: absolute;
	color: #fdff72fa;
	text-shadow: 1px 1px #00000091;
	font-size: 2.4rem;
	font-weight: 100;
	padding: 0.5rem 1rem;
}

.advent > .calender > .windows > .door.open > .ac-text {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #ffffffdb;
	height: 100%;
	text-shadow: 3px 3px 4px #1e1a1a;
	font-size: 1.8rem;
	padding-top: 1rem;
	text-align: center;
}

.advent > .calender > .windows > .door.open > .ac-day {
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.advent > .calender > .windows > .door.open.claimed > .ac-day::after {
	padding-left: 0.8rem;
	font-size: 2.2rem;
	content: "🎁";
}

.advent > .calender > .windows > .door.open:hover > .ac-day {
	opacity: 0;
}

.advent > .calender > .windows > .door.open > .ac-text {
	opacity: 0;
}

.advent > .calender > .windows > .door.open:hover > .ac-text {
	opacity: 1;
	transition: opacity 0.2s ease-in;
}

.advent > .calender > .windows > .door > .ac-text {
	display: none;
}

@media (max-width: 767px) {
	.advent > .calender > .windows > .ac-popupwindow {
		width: 30rem;
		height: 20rem;
	}

	.advent > .calender > .windows > .ac-popupwindow > p {
		padding: 1rem 2rem;
		font-size: 1.4rem;
	}

	.advent > .calender > .windows > .door {
		width: 12%;
		height: 12%;
	}

	.advent > .calender > .windows > .door.open:hover {
		width: 15%;
		height: 15%;
	}

	.advent > .calender > .windows > .door {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.advent > .calender > .windows > .door > .ac-day {
		font-size: 1.2rem;
		padding: 0;
		padding-top: 1rem;
		color: #f8ff15;
	}

	.advent > .calender > .windows > .door.open.claimed > .ac-day::after {
		padding-left: 0.2rem;
		font-size: 1rem;
	}

	.advent > .calender > .windows > .door.open > .ac-text {
		font-size: 0.8rem;
	}

	.advent > .ac-title {
		font-size: 6rem;
		line-height: 7.5rem;
	}

	.advent > .bottompart > .ac-title {
		width: 70%;
		font-size: 2.6rem;
		margin-top: 1rem;
		line-height: 3.2rem;
	}

	.advent > .bottompart > .ac-desc {
		padding: 1rem 0px;
		width: 90%;
		word-break: normal;
		font-size: 1.6rem;
	}

	.advent > .calender {
		border: none;
		border-radius: 1rem;
	}

	.advent > .calender img {
		border-radius: 0.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.advent > .calender > .windows > .door.open.claimed > .ac-day::after {
		padding-left: 0.4rem;
		font-size: 1.8rem;
	}

	.advent > .calender > .windows > .ac-popupwindow {
		width: 60rem;
		height: 25rem;
	}

	.advent > .calender > .windows > .ac-popupwindow > p {
		padding: 1rem 2rem;
		font-size: 2.2rem;
	}

	.advent > .calender > .windows > .door {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 12%;
		height: 12%;
	}

	.advent > .calender > .windows > .door.open:hover {
		width: 16%;
		height: 16%;
	}
	.advent > .ac-title {
		line-height: 8.5rem;
	}

	.advent > .calender > .windows > .door > .ac-day {
		font-size: 2rem;
		padding-top: 1rem;
	}

	.advent > .calender > .windows > .door.open > .ac-text {
		font-size: 1.6rem;
		padding-top: 1rem;
	}
}

@keyframes door-bg-1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#ac-d1 {
	top: 46%;
	left: 63%;
}

#ac-d2 {
	top: 60%;
	left: 10%;
}

#ac-d3 {
	top: 83%;
	left: 20%;
}

#ac-d4 {
	top: 40%;
	left: 80%;
}

#ac-d5 {
	top: 4%;
	left: 40%;
}

#ac-d6 {
	top: 36%;
	left: 3%;
}

#ac-d7 {
	top: 9%;
	left: 65%;
}

#ac-d8 {
	top: 73%;
	left: 75%;
}

#ac-d9 {
	top: 18%;
	left: 47%;
}

#ac-d10 {
	top: 75%;
	left: 4%;
}

#ac-d11 {
	top: 4%;
	left: 80%;
}

#ac-d12 {
	top: 17%;
	left: 5%;
}

#ac-d13 {
	top: 32%;
	left: 58%;
}

#ac-d14 {
	top: 69%;
	left: 27%;
}

#ac-d15 {
	top: 85%;
	left: 63%;
}

#ac-d16 {
	top: 23%;
	left: 74%;
}

#ac-d17 {
	top: 80%;
	left: 45%;
}

#ac-d18 {
	top: 45%;
	left: 18%;
}

#ac-d19 {
	top: 57%;
	left: 82%;
}

#ac-d20 {
	top: 3%;
	left: 13%;
}

#ac-d21 {
	top: 64%;
	left: 55%;
}

#ac-d22 {
	top: 62%;
	left: 41%;
}

#ac-d23 {
	top: 20%;
	left: 26%;
}

#ac-d24 {
	width: 20%;
	height: 20%;
	top: 35%;
	left: 35%;
}
