:root {
  /* Basic styles */
  --color-background: #1d1d1d;
  --color-background-accent: #1f2021;
  --color-background-2: #212327;
  --color-font: #ececec;
  --color-font-text: #d3d2d2;
  --color-font-header: #da8918;
  --color-font-accent: #f0f0f0;
  --color-font-links: #bf5e40;
  --color-font-strong: #d8d8d8;
  --color-font-oddCase: #da8918;
  --color-border: #3f3f3f;
  --color-bg-colorTwoD: #1b1b1b;
  /* Form colors */
  --color-form-bg: #cdcdcd;
  --color-form-text: #1f1f1f;
  --color-form-placeholder: #545252;
  /* Table colors */
  --color-table-normal: #2c2c2c;
  --color-table-accent: #1f1f1f;
  --color-table-hover: #222529;
  --color-table-danger: #43180c;
  --color-table-danger-hover: #2e0b01;
  /* chat System */
  --color-chatSys-Msg-rec-bg: #505050;
  --color-chatSys-Msg-send-bg: #373737;
  /* Charts */
  --color-chart-text: #dadada;
  --color-chart-gridline: #464646;
  --color-chart-minorgridline: #5d5d5d;
  --color-chart-line: #bf5e40;
  /* Colors */
  --color-sheepOrange-1: #e06c58bb;
  --color-sheepOrange-2: #ba4e3bbd;
  --color-blue: #1489ff;
  --color-positive: #05a305;
  --color-neutral: #999999;
  --color-negative: #d9534f;
  /* Misc */
  --color-bg-btn: #bf5e40;
  --color-bg-navbar: #202020;
  --color-color-one-text: #ffffff;
  --color-wbox-dark: #252527;
  --color-legend-bg: #2f2f2f;
  --color-tooltip-bg: #212121;
  --color-polaroid-bg: #202020;
  --color-ch-1: #4d5053;
  --color-ch-2: #33393c;
  --color-ch-3: #bf5e40;
  --color-sqbtn-1: #4d5053;
  --color-sqbtn-2: #638098;
  --color-sqbtn-3: #bf5e40;
  --color-sqbtn-border: #717171;
  --color-pgrbar-1: #4d5053;
  --color-pgrbar-2: #638098;
  --color-pgrbar-3: #bf5e40;
  --color-pgrbar-font: #ececec;
  --color-msg_processing: #638098;
}
#map {
  filter: grayscale(30%) brightness(90%);
}
