:root {
  /* Basic Styles */
  --color-background: #eceff4;
  --color-background-accent: #ffffff;
  --color-background-2: #697e93;
  --color-font: #616161;
  --color-font-text: #8e8e8e;
  --color-font-header: #3b3e43;
  --color-font-accent: #ffffff;
  --color-font-links: #7a92ac;
  --color-font-strong: #a4a1a1;
  --color-font-oddCase: #9ab2cc;
  --color-border: #e0e0e0;
  --color-bg-colorTwoD: #2d2d2d;
  /* Form colors */
  --color-form-bg: #fefefe;
  --color-form-text: #000000;
  --color-form-placeholder: #a4a1a1;
  /* Table colors */
  --color-table-normal: #ffffff;
  --color-table-accent: #f9f9f9;
  --color-table-hover: #f3f9ff;
  --color-table-danger: #f0cece;
  --color-table-danger-hover: #d89c9c;
  /* chat System */
  --color-chatSys-Msg-rec-bg: #f6f8fa;
  --color-chatSys-Msg-send-bg: #eceff2;
  /* Charts */
  --color-chart-text: #222222;
  --color-chart-gridline: #d4d4d4;
  --color-chart-minorgridline: #dfdfdf;
  --color-chart-line: #ed6552;
  /* Color */
  --color-sheepOrange-1: #e06d58;
  --color-sheepOrange-2: #c55844;
  --color-blue: #0000ff;
  --color-positive: #05a305;
  --color-neutral: #999999;
  --color-negative: #d9534f;
  /* Misc */
  --color-bg-btn: #7a92ac;
  --color-bg-navbar: #2d2d2d;
  --color-color-one-text: #ffffff;
  --color-wbox-dark: #3d4754;
  --color-legend-bg: #f6f6f6;
  --color-tooltip-bg: #f0f0f0;
  --color-polaroid-bg: #f3f3f3;
  --color-ch-1: #e9eff3;
  --color-ch-2: #c8d7e1;
  --color-ch-3: #ffa500;
  --color-sqbtn-1: #eeeeee;
  --color-sqbtn-2: #7a92ac;
  --color-sqbtn-3: #f0ad4e;
  --color-sqbtn-border: #a9a9a9;
  --color-pgrbar-1: #d2d2d2;
  --color-pgrbar-2: #f2cc96;
  --color-pgrbar-3: #e06d58;
  --color-pgrbar-font: #e9eff3;
  --color-msg_processing: #ff7526;
}
