/* FONTS */
@import url(//fonts.googleapis.com/css?family=Varela+Round);
@import url(//fonts.googleapis.com/css?family=Stalemate&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);

/* IMPORTS */
@import url(../style/animate.css);
@import url(../style/timeline.css);

/* GLOBAL */
body {
  background: var(--color-background);
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 14px;
  color: var(--color-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto Condensed", sans-serif !important;
}
iframe {
  border: 0;
  margin-top: 0 !important;
}
a {
  color: var(--color-font-links);
}
a:hover {
  color: #e06d58;
  text-decoration: underline;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.35s;
}

input:focus {
  outline: none;
  border: 1px solid #656565;
}

textarea:focus {
  outline: none;
  border: 1px solid #656565;
}

.adblock-infobox {
  width: 728px;
  height: 90px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  padding: 5px;
  color: var(--color-font-accent);
  background: linear-gradient(
    200deg,
    var(--color-sheepOrange-1),
    var(--color-sheepOrange-2)
  );
  background-size: 1000% 1000%;

  -webkit-animation: ad-block-animation 20s ease infinite;
  animation: ad-block-animation 20s ease infinite;
  box-shadow: 0px 0px 5px 1px var(--color-border);
}

@-webkit-keyframes ad-block-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes ad-block-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Mobile version fix */

.progressbar-width {
  width: 200px;
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    max-height: none;
  }

  #masonryWr > div {
    width: 100%;
  }

  .table-mobilefriend .progressbar-width {
    width: auto;
  }

  .table-mobilefriend {
    border: 0;
  }

  .table-mobilefriend thead {
    display: none;
  }

  .table-mobilefriend tbody > tr {
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid;
    empty-cells: hide;
  }

  .table-mobilefriend tbody > tr > td {
    border: 0;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    empty-cells: hide;
  }

  .table-mobilefriend .table-striped > tbody > tr:nth-child(1n) > td {
    background-color: var(--color-background-accent);
  }

  .tiles > div > div {
    display: flex;
  }

  .adblock-infobox {
    width: 100%;
  }
}

/* colors */
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: var(--color-table-normal);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--color-table-accent);
}

.table-striped > tbody > tr:hover > td {
  background-color: var(--color-table-hover);
}

.table-bordered {
  border-color: var(--color-border);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: var(--color-border);
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: var(--color-table-danger);
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: var(--color-table-danger-hover);
}

.progress-bar {
  color: var(--color-pgrbar-font);
}

.form-control {
  background-color: var(--color-form-bg);
  color: var(--color-form-text);
}

.form-control::placeholder {
  color: var(--color-form-placeholder);
}

.ch-day {
  border: 1px solid var(--color-background-accent);
}

.chart-colors {
  background-color: var(--color-background-accent);
  color: red;
}

.p {
  color: var(--color-font);
}

.panel {
  background-color: transparent;
}

.panel-default {
  border-color: var(--color-border);
}

.panel-default > .panel-heading {
  background-color: var(--color-background-accent);
  color: var(--color-font-links);
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  background-color: var(--color-background-accent);
  border-color: var(--color-border);
}

.panel-title > a {
  color: var(--color-font-links);
}
/* Patreon stuff */
.avatar-small {
  position: relative;
}

.avatar-small .patreon-badge {
  position: absolute;
  height: 1.8rem;
  top: 1.4rem;
  left: 2rem;
}

.avatar-big {
  position: relative;
}

.avatar-footer {
  position: relative;
}

.avatar-big .patreon-badge {
  position: absolute;
  height: 4.5rem;
  top: 11rem;
  left: 11.5rem;
  border: 0;
}

.avatar-footer .patreon-badge {
  position: absolute;
  height: 3.5rem;
  top: 4rem;
  left:-3rem;
  border: 0;
}

.polaroid:hover {
  animation-delay: 3s;
  animation-name: polaroidSpin;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.polaroid:hover .patreon-badge {
  animation-delay: 3s;
  animation-name: polaroidSpinBadge;
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes polaroidSpin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: -717deg;
  }
}
@keyframes polaroidSpinBadge {
  0% {
    rotate: 0deg;
  }
  14% {
    top: 11rem;
  }
  50% {
    position: absolute;
    top: -200rem;
  }

  100% {
    rotate: -720deg;
  }
}

/* Table hide */

.ckb_table-hide:checked ~ * .table-hide {
  visibility: collapse;
}

.ckb_table-hide:checked ~ *.table-hide * {
  position: unset;
}

.lbl_table-hide {
  cursor: pointer;
  background-color: var(--color-sheepOrange-1);
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  margin: 1rem 0;
}

.lbl_table-hide:hover {
  background-color: var(--color-sheepOrange-2);
}
.lbl_table-hide:hover::after {
  content: "🥵";
}

.ckb_table-hide:checked ~ .lbl_table-hide:hover::after {
  content: "🥵";
}
.ckb_table-hide {
  display: none;
}

.lbl_table-hide::after {
  content: "🙉";
}

.ckb_table-hide:checked ~ .lbl_table-hide::after {
  content: "🙈";
}

textarea {
  background-color: var(--color-form-bg);
  color: var(--color-form-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-font-header);
}

.color-positive {
  color: var(--color-positive);
}

.color-negative {
  color: var(--color-negative);
}

.color-neutral {
  color: var(--color-negative);
}

/* MARGINS & PADDINGS & OTHER */
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-b-10 {
  padding-bottom: 10px;
}
.padding-b-20 {
  padding-bottom: 20px;
}
.padding-t-15 {
  padding-top: 15px;
}
.padding-t-20 {
  padding-top: 20px;
}
.padding-y-10 {
  padding: 10px 0;
}
.padding-x-4 {
  padding: 0 4px;
}
.padding-x-8 {
  padding: 0 8px;
}
.padding-x-16 {
  padding: 0 16px;
}
.padding-x-20 {
  padding: 0 20px;
}
.padding-x-32 {
  padding: 0 32x;
}
.padding-y-20 {
  padding: 20px 0 !important;
}

.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-t-15 {
  margin-top: 15px;
}
.margin-t-20 {
  margin-top: 20px;
}
.margin-y-10 {
  margin: 10px 0;
}
.margin-y-20 {
  margin: 20px 0;
}
.margin-x-20 {
  margin: 0 20px;
}

.strong {
  font-weight: bold !important;
}

strong {
  font-weight: bold !important;
  color: var(--color-font-strong);
}

.alter-warning strong {
  color: #c09853;
}

.w-box.dark strong {
  color: var(--color-font-oddCase);
}

/* COLORS: l=light, t=transparent, d=dark, c=contrast*/
.color-one {
  background: var(--color-sheepOrange-1);
  color: #fff;
}

.color-one h1,
.color-one h2,
.color-one h3,
.color-one h4,
.color-one strong {
  color: #fff;
}

.section-title.color-one h3 {
  color: #fff;
}

.color-one-c {
  background: #cd5b46;
  color: #fff;
}

.color-two {
  background: var(--color-background-2);
  color: var(--color-font-accent);
}

.color-two-l {
  background: #bacce2;
  color: #fff;
}
.color-two-l p {
  color: #697e93;
}
.color-two-d {
  background: var(--color-bg-colorTwoD);
  color: var(--color-font-accent);
}
.color-two-d h1,
.color-two-d h2,
.color-two-d h3,
.color-two-d h4 {
  color: #ffffff;
}

.color-two-c {
  background: #566b80;
  color: #fff;
}
.color-two-t {
  background: #697e93;
  background: rgba(105, 126, 147, 0.7);
  color: #fff;
}

.color-three {
  background: var(--color-background-accent);
  color: var(--color-font);
}
.color-three p,
.color-three li {
  color: var(--color-font-text);
}

.color-three h1,
.color-three h2,
.color-three h3,
.color-three h4 {
  color: var(--color-font-oddCase);
}

.color-three.section-title {
  background-color: var(--color-background);
}

.color-three.section-title h3 {
  color: var(--color-font-header);
}

.orange {
  background: #ff8c43;
}
.green {
  background: #93c054;
}
.yellow {
  background: #ffbe00;
}
.yellow-gold {
  background: #f2b200;
}
.gray {
  background: #f1f1f1;
}
.dark {
  background: #232323;
}

/* BANNERS */
.banner-1 {
  background: url(../images/carousel/carousel-img-2.png) no-repeat;
}

/* DELIMITERS & INDICATORS */
.delimiter-xs {
  display: block;
  margin: 25px 0;
  width: 10%;
  height: 6px;
  background: #ef7f1a;
  position: relative;
  left: 45%;
  border-radius: 3px;
}
.indicator-down {
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #ef7f1a;
  z-index: 900;
}

.indicator-down.color-one {
  border-top-color: var(--color-sheepOrange-1);
  background: none;
}
.indicator-down.color-two {
  border-top-color: #697e93;
  background: none;
}
.indicator-down.color-two-d {
  border-top-color: #3b3e43;
  background: none;
}
.indicator-down.color-two-l {
  border-top-color: #bacce2;
  background: none;
}
.indicator-down.color-three {
  border-top-color: #fff;
  background: none;
}

/* PAGE & SECTION TITLES */
.section-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -130px;
  width: 260px;
  padding: 18px 0;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.section-title h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

h1.font-lg {
  font-size: 100px;
  font-weight: 600;
}

/* HEADER DEFAULT*/
header {
  padding: 0;
}
header .navbar-default {
  margin: 0;
  padding: 20px 0;
  background: var(--color-bg-navbar);
  border: 0;
  border-radius: 0;
}
header .navbar-brand {
  padding: 0 15px;
}
header .navbar-brand img {
  height: 46px;
}
header .navbar-toggle .icon-search {
  display: block;
  width: 22px;
  height: 14px;
  border-radius: 1px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 13px 16px;
  margin-right: 4px;
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #e06d58;
  border-radius: 3px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9ab2cc;
  background-color: #fff;
  border-radius: 3px;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #e06d58;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #e06d58;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #e06d58;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.dropdown-menu {
  background-color: var(--color-background-accent);
  border-color: var(--color-border);
}

.navbar-default .dropdown-menu {
  margin-top: 19px;
}
.navbar-default .dropdown-menu:after,
.arrow_box:before {
  bottom: 100%;
  left: 86%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.navbar-default .dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: var(--color-border);
  border-width: 10px;
  margin-left: -10px;
}
.navbar-default .dropdown-menu:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.navbar-default .dropdown-menu > li {
  border-bottom: 1px solid var(--color-border);
}
.navbar-default .dropdown-menu > li:last-child {
  border: 0;
}
.navbar-default .dropdown-menu > li > a {
  padding: 8px 15px;
  color: var(--color-font-header);
}
.navbar-default .dropdown-menu > li > a:hover {
  background: var(--color-sheepOrange-1);
  color: #fff;
}

.navbar-default .dropdown-form-toggle {
  background: #313131;
  border-radius: 3px;
}
.navbar-default .dropdown-form h4 {
  padding: 0;
  padding-left: 15px;
}

/* NAVBAR WHITE */
header .navbar-white {
  margin: 0;
  padding: 20px 0;
  background: #fff;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navbar-white .navbar-nav > li > a {
  color: #4c4c4c;
  padding: 13px 16px;
  margin-right: 4px;
  font-size: 15px;
}
.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #f0523f;
  border-radius: 3px;
}

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
  color: #f0523f;
  background-color: #fff;
  border-radius: 3px;
}

.navbar-white .navbar-nav > .disabled > a,
.navbar-white .navbar-nav > .disabled > a:hover,
.navbar-white .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-white .navbar-toggle {
  border-color: #4c4c4c;
}
.navbar-white .navbar-toggle .icon-bar {
  background-color: #4c4c4c;
}
.navbar-white .navbar-toggle:hover,
.navbar-white .navbar-toggle:focus {
  background-color: #f0523f;
  border-color: #f0523f;
}
.navbar-white .navbar-toggle:hover .icon-bar,
.navbar-white .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
.navbar-white .navbar-toggle:hover .icon-search,
.navbar-white .navbar-toggle:focus .icon-search {
  color: #fff;
}

.navbar-white .navbar-collapse,
.navbar-white .navbar-form {
  border-color: #e7e7e7;
}

.navbar-white .navbar-nav > .dropdown > a:hover .caret,
.navbar-white .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-white .navbar-nav > .open > a,
.navbar-white .navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #f0523f;
}

.navbar-white .navbar-nav > .open > a .caret,
.navbar-white .navbar-nav > .open > a:hover .caret,
.navbar-white .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-white .navbar-nav > .dropdown > a .caret {
  border-top-color: #4c4c4c;
  border-bottom-color: #4c4c4c;
}

.navbar-white .dropdown-menu {
  min-width: 180px;
  background: #4c4c4c;
}
.navbar-white .dropdown-menu:after,
.arrow_box:before {
  bottom: 100%;
  left: 86%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.navbar-white .dropdown-menu:after {
  border-color: rgba(63, 63, 63, 0);
  border-bottom-color: #4c4c4c;
  border-width: 10px;
  margin-left: -10px;
}
.navbar-white .dropdown-menu:before {
  border-color: rgba(63, 63, 63, 0);
  border-bottom-color: #4c4c4c;
  border-width: 10px;
  margin-left: -10px;
}
.navbar-white .dropdown-menu > li {
  border-bottom: 1px solid #474747;
}
.navbar-white .dropdown-menu > li:last-child {
  border: 0;
}
.navbar-white .dropdown-menu > li > a {
  color: #fff;
  padding: 8px 15px;
}
.navbar-white .dropdown-menu > li > a:hover {
  background: #f0523f;
  color: #fff;
}
.navbar-white .dropdown-menu label.checkbox {
  color: #fff;
}
.navbar-white .dropdown-form-toggle {
  background: #f2f2f2;
  border-radius: 3px;
}
.navbar-white .dropdown-form h4 {
  margin: 0;
  padding: 15px 15px 5px 15px;
  color: #fff;
}
.navbar-white h4 {
  color: #fff;
}

/* NAVBAR FORM */
.dropdown-form {
  min-width: 280px;
}

/* NAVBAR STYLE SWITCHER */
.dropdown-style-switcher {
  min-width: 480px;
  padding: 15px;
}
.dropdown-style-switcher .scheme-switch-btn {
}
.dropdown-style-switcher .scheme-switch-btn a {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 14px;
  border: 6px solid transparent;
  border-radius: 3px;
}
.dropdown-style-switcher .scheme-switch-btn a:nth-child(5) {
  margin-right: 0;
}
.dropdown-style-switcher .scheme-switch-btn a.default {
  background: #e06d58;
  border-color: #697e93;
}
.dropdown-style-switcher .scheme-switch-btn a.one {
  background: #ff6766;
  border-color: #2d8b8a;
}
.dropdown-style-switcher .scheme-switch-btn a.two {
  background: #de0000;
  border-color: #1a1a1a;
}
.dropdown-style-switcher .scheme-switch-btn a.three {
  background: #f1c40f;
  border-color: #2c3e50;
}
.dropdown-style-switcher .scheme-switch-btn a.four {
  background: #fff;
  border-color: #f0523f;
}
.dropdown-style-switcher .scheme-switch-btn a.five {
  background: #fff;
  border-color: #000;
}

/* SEARCH */
.search-wr {
  width: 100%;
  height: 110px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 2200;
  display: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.search-wr .close {
  display: block;
  width: 22px;
  height: 22px;
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
}
.search-wr .close i {
  font-size: 20px;
  color: #555;
}
.search-wr .search-sign i {
  font-size: 60px;
  line-height: 110px;
  color: #ddd;
}
.global-search-input {
  padding: 40px 0 0 0;
  font-size: 20px;
  position: relative;
  width: 740px;
  background: #fff;
  z-index: 10;
  border: none;
  outline: none;
  color: #ddd;
}
.global-search-input:focus {
  color: #333;
}

/* PAGE INFO */
.pg-opt {
}
.pg-opt.fixed {
  width: 100%;
  position: fixed;
  top: 0px;
  background: rgba(250, 250, 250, 0.9);
  border-bottom: 1px solid #e1e1e1;
  z-index: 2300;
}
.pg-opt h2 {
  margin: 0;
  padding: 20px 0;
  font-size: 26px;
  line-height: 100%;
}
.pg-opt.fixed h2 {
  margin-bottom: 15px;
}

.pg-opt hr {
  margin: 0;
  border-top-color: #dde1e6;
  -webkit-box-shadow: 0 1px 0 #fbfbfc;
  -moz-box-shadow: 0 1px 0 #fbfbfc;
  box-shadow: 0 1px 0 #fbfbfc;
}
.pg-opt.fixed hr {
  display: none;
}

.pg-opt .breadcrumb {
  float: right;
  margin: 0;
  padding: 24px 0;
  background: none;
  border-radius: 0;
}
.pg-opt .breadcrumb a {
  color: #e06d58;
}

@media only screen and (max-width: 767px) {
  .pg-opt .pg-nav {
    float: left;
    margin-bottom: 10px;
  }
  .pg-opt h2 {
    padding: 20px 0 0 0;
  }
}

/* CAROUSELS */
.carousel-1 {
}
.carousel-1 .carousel-inner {
  height: 440px;
}
.carousel-1 .carousel-inner {
  overflow: hidden;
}
.carousel-1 .carousel-control i {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  font-size: 36px;
  font-weight: 600;
}
.carousel-1 .item {
  height: 440px;
}
.carousel-1 .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
}
.carousel-1 .item-dark {
  color: #fff;
}
.carousel-1 .item-light {
  color: #697e93;
}
.carousel-1 p {
  font-size: 16px;
}
.carousel-1 .object {
  position: absolute;
  top: 38px;
  right: 50%;
  margin-left: 15px;
  width: 568px;
  height: 320px;
  overflow: hidden;
}
.carousel-1 .object.fluid {
  width: 100%;
  left: 0;
  margin: 0;
}
.carousel-1 .object iframe {
  width: 100% !important;
}
.carousel-1 .object img {
}
.carousel-1 .description {
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: 50px;
  width: 514px;
  height: 290px;
}
.carousel-1 .description .title {
  font-size: 32px;
  margin: 0 0 15px 0;
  padding: 8px 20px;
  background: #fff;
  color: #9ab2cc;
}
.carousel-1 .description .subtitle {
  font-size: 24px;
  margin: 20px 0;
  padding: 0;
  display: block;
}
.carousel-1 .description p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.carousel-1 .description p.text-box {
}

.carousel-1 .description.fluid-center {
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}
.carousel-1 .description.fluid-center .title {
  margin-bottom: 5px;
  display: block;
  text-align: center;
  background: none;
  color: #fff;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.5);
}
.carousel-1 .description.fluid-center .subtitle {
  font-size: 20px;
  margin: 0;
  display: block;
  text-align: center;
}
.carousel-1 .description.fluid-center .features {
  display: block;
  margin-top: 40px;
  text-align: center;
}
.carousel-1 .description.fluid-center .features i {
  width: 110px;
  height: 110px;
  background: #fff;
  text-align: center;
  line-height: 110px;
  font-size: 54px;
  color: #697e93;
  font-weight: 700;
  border-radius: 96px;
  margin-right: 20px;
}

.carousel-2 {
}
.carousel-2 .item {
  padding: 36px 0 !important;
}
.carousel-2 .carousel-indicators {
  width: auto;
  padding: 6px 18px;
  border-radius: 3px;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 8%;
  margin-left: 0;
}
.carousel-2 .img-thumbnail {
  margin-top: 26px;
}

.carousel-3 .carousel-nav {
}
.carousel-3 .carousel-nav a {
  width: 48px;
  border-radius: 80px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  border: 1px solid transparent;
}
.carousel-3 .carousel-nav a.left {
  left: 20px;
}
.carousel-3 .carousel-nav a.right {
  right: 20px;
}
.carousel-3 .carousel-nav a:hover {
  background: #fff;
}

.carousel-4 {
}
.carousel-4 .carousel-inner {
}
.carousel-4 .carousel-inner {
  overflow: hidden;
}
.carousel-4 .carousel-control i {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  font-size: 36px;
  font-weight: 600;
}

.carousel-top-controls {
  float: right;
  position: relative;
  top: 12px;
  width: 74px;
}
.carousel-top-controls a {
  font-size: 22px;
  margin-left: 5px;
  padding: 0 10px 1px 10px;
  text-align: center;
  color: #2f2f2f;
  border-radius: 2px;
}
.carousel-top-controls a:hover {
  background: #3333;
  background: rgba(34, 34, 34, 0.6);
  color: #fff;
  text-decoration: none;
}

/* FRACTION SLIDER CUSTOMS */
.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: #3b3e43;
  z-index: 800;
}
.slider {
  position: relative;
  width: 100%;
  height: 440px;
  margin: 0 auto;
  background: #3b3e43;
}
.slider-wrapper p {
  position: absolute;
  top: -200px;
  z-index: 8000;
  padding: 1% 3%;
  font-size: 24px;
  line-height: 100%;
  white-space: nowrap;
  text-transform: uppercase;
}
.slider-wrapper p.white {
  color: #fff;
}
.slider-wrapper .claim {
  line-height: 100%;
}
.slider-wrapper .teaser {
  padding: 1.5% 1.5%;
  font-size: 14px;
  line-height: 100%;
}
.slider-wrapper .small {
  width: 250px;
  padding-left: 1%;
  padding-right: 0px;
  text-align: center;
}
.slider-wrapper .video {
  width: 540px;
  height: 360px;
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
  text-align: left;
  text-transform: none;
}
.slider-wrapper .video iframe {
  width: 100%;
}
.slider-wrapper .text {
  width: 460px;
  font-size: 13px;
  line-height: 18px;
  white-space: normal;
  text-align: left;
  text-transform: none;
}
.slider-wrapper .text a {
  margin-top: 20px;
}

/* CALL TO ACTION BOX */
.cta-wr h1 {
  margin: 10px 0 !important;
  font-size: 20px;
  line-height: 26px;
}

/* COLUMNS & SECTIONS */
section.slice {
  padding: 36px 0;
  position: relative;
}

.w-box {
  margin-bottom: 15px;
  background: var(--color-background-accent);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-bottom: 2px solid var(--color-border);
  cursor: default;
}
.w-box h2 {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid;
  border-color: var(--color-border);
  color: var(--color-font-header);
  font-weight: 500;
  font-size: 16px;
}
.w-box.inner h2 {
  padding: 10px 0;
}
.w-box small {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
.w-box p {
  margin: 0;
  font-size: 14px;
  padding: 15px;
  color: var(--color-font-text);
}
.w-box p.social-icons {
  margin: 0;
  padding: 5px 15px;
  border-top: 1px solid #f1f1f1;
}
.w-box p.social-icons a {
  display: inline-block;
  margin-right: 5px;
  width: 32px;
  padding: 6px 0;
  text-align: center;
  font-size: 14px;
  background: #697e93;
  color: #fff;
  border-radius: 2px;
}
.w-box p.social-icons a:hover {
  background: #3d4754;
}
.w-box .w-footer {
  display: block;
  padding: 10px 15px;
  color: #a1a1a1;
  border-top: 1px solid #f1f1f1;
}
.w-box .w-footer small {
  font-size: 12px;
}
.w-box .w-box-parent {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.w-box:hover .w-box-parent {
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-0px);
  -ms-transform: translateY(-0px);
  -o-transform: translateY(-0px);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
}
.w-box .w-box-parent .w-box-button.animated {
  position: absolute;
  bottom: 10px;
  margin-bottom: -40px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.w-box.dark {
  background: var(--color-wbox-dark);
  color: var(--color-font-oddCase);
  border-color: #2c343e;
  border-bottom: 2px solid #2c343e;
}
.w-box.dark p {
  color: #f1f1f1;
}
.w-box.dark h2 {
  color: #fff;
  border-bottom: 1px solid #2c343e;
  text-align: center;
}
.w-box.dark .thmb-img {
  text-align: center;
  padding: 15px 0;
}
.w-box.dark .thmb-img i {
  font-size: 64px;
  color: #fff;
}

.w-section {
  background: var(--color-background-accent);
  padding-bottom: 25px;
}
.w-section:before,
.w-section:after {
  display: table;
  content: " ";
}
.w-section:after {
  clear: both;
}

.w-section.inverse {
  background: none !important;
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: 0;
}
.w-section.inverse strong {
  color: var(--color-font-oddCase);
}

.w-section.inner {
  margin: 15px 0;
}

.w-section iframe {
  width: 100%;
}

.w-section .feature {
  margin: 15px 0 30px 0;
  text-align: center;
  cursor: default;
}
.w-section .feature i {
  font-size: 64px;
  color: #555;
  display: block;
}
.w-section .feature h4 {
  margin: 10px 0;
}
.w-section .feature p {
}

.w-section .aside-feature {
  margin: 15px 0 30px 0;
  cursor: default;
}
.w-section .aside-feature .icon-feature {
  font-size: 68px;
  margin-top: -8px;
  text-align: center;
  display: block;
}
.w-section .aside-feature .img-feature {
  margin-top: -4px;
  display: block;
}
.w-section .aside-feature .img-feature img {
  width: 78px;
}

.w-section .aside-feature h4 {
  margin: 10px 0;
}
.w-section .aside-feature p {
  margin-right: 30px;
}

.w-section .inline-features {
}
.w-section .inline-features i {
  display: block;
  margin-bottom: 15px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 40px;
  background: rgb(85, 85, 85);
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.w-section .inline-features i:hover {
  background: rgb(117, 185, 24);
}

.w-section .contrast-box {
  padding: 15px;
  border-radius: 3px;
}
.w-section .contrast-box i {
  font-size: 24px;
  margin-right: 8px;
}
.w-section .contrast-box small {
  display: block;
  margin-top: 12px;
  font-style: italic;
  text-align: right;
}

/* HEAD TITLE - optional */
.w-section .head-title {
  margin: 10px 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(117, 109, 192, 0.2);
  text-transform: capitalize;
}

.head-title:before,
.head-title:after {
  display: table;
  content: "";
}
.head-title:after {
  clear: both;
}
.head-title.has-controls h3 {
  width: 80%;
  float: left;
}

/* HOVER ANIMATIONS */
.animate-hover-slide figure,
.work figure {
  position: relative;
  overflow: hidden;
}
.animate-hover-slide figure img,
.work figure img {
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide figure:hover img,
.work figure:hover img {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.animate-hover-slide figure figcaption {
  min-height: 168px;
  padding: 0 15px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  -o-transition: -o-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.animate-hover-slide figure:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  -o-transition: -o-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}
.animate-hover-slide figure figcaption {
  text-align: center;
  border-bottom: 1px solid #f2f2f2;
}
.animate-hover-slide figure figcaption a {
  position: relative;
  top: 50%;
  margin-top: -24px;
}
.animate-hover-slide figure figcaption h3 {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #f2f2f2;
}

/* PRICING */
.pricing-plans {
  margin-bottom: 15px;
}
.pricing-plans:before,
.pricing-plans:after,
.pricing-table:before,
.pricing-table:after {
  display: table;
  content: " ";
}
.pricing-plans:before,
.pricing-table:before {
  clear: both;
}

.pricing-plans .plan-title {
  text-align: center;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}
.pricing-plans .price-tag {
  margin: 0;
  height: 90px;
  line-height: 90px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.pricing-plans .price-tag span {
  font-size: 28px;
  font-weight: 600;
}
.pricing-plans .price-tag span.price-type {
  font-size: 20px;
  font-weight: 500;
}
.pricing-plans ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
  color: #a1a1a1;
}
.pricing-plans ul li {
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
  font-size: 13px;
}
.pricing-plans ul li i {
  margin-right: 8px;
}
.pricing-plans .plan-info {
  margin: 0;
  padding: 15px;
  font-size: 13px;
  text-align: center;
}
.pricing-plans .plan-select {
  padding: 10 15px;
  border-top: 1px solid #f1f1f1;
}

.pricing-plans .w-box {
  margin-top: 20px;
  border: 1px solid #ddd;
}
.pricing-plans .w-box:hover,
.pricing-table .w-box:hover {
  -webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
}

.pricing-table .w-box {
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: 0;
  box-shadow: none;
}
.pricing-table .w-box.popular,
.pricing-plans .w-box.popular {
  margin-top: 0;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.2);
}
.pricing-table .w-box.popular:hover,
.pricing-plans .w-box.popular:hover {
  -webkit-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -4px 14px rgba(0, 0, 0, 0.3);
}

.pricing-table .price-tag {
}
.pricing-table .w-box.popular .price-tag {
}
.pricing-table .plan-select {
  margin-top: 0;
  border: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}
.pricing-table .plan-info {
  text-align: center;
  margin-bottom: 15px;
}

.pricing-table .table-comparision {
  background: #fff;
  position: relative;
  top: -2px;
  z-index: 1000;
  border-color: #f1f1f1;
  color: #777;
}
.pricing-table .table-comparision th {
  border-color: #f1f1f1;
}
.pricing-table .table-comparision td {
  text-align: center;
  border-color: #f1f1f1;
}
.pricing-table .table-comparision tr td:first-child {
  text-align: left;
}

/* TIMELINE */
.timeline {
}
.timeline .year {
  width: 100%;
  background: #3d4754;
  padding: 8px 10px;
  margin: 20px auto 40px !important;
  font-size: 20px;
}

.timeline .year {
  border-radius: 3px;
}
.timeline .event {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.timeline .event:nth-child(2n) .event-date {
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.timeline .event:nth-child(2n-1) .event-date {
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.timeline .event:nth-child(2n):after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -12px !important;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.timeline .event:nth-child(2n):before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -6.6% !important;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #e06d58;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline .event:nth-child(2n-1):after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -12px !important;
  top: 12px;
  width: 0;
  height: 0;
  border-right: 12px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.timeline .event:nth-child(2n-1):before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -6.5% !important;
  top: 20px;
  width: 10px;
  height: 10px;
  background: #e06d58;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline .event-date {
  margin: -1px -1px -9px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  text-align: left;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 16px;
}
.timeline .event-date small {
  display: block;
  font-size: 12px;
  color: #a1a1a1;
  font-weight: normal;
}
.timeline .event-date i {
  margin-right: 7px;
}
.timeline .event-footer {
  margin: 6px 0;
  text-align: left;
  padding: 8px 10px;
  background: none;
  border-top: 1px solid #f1f1f1;
}
.timeline .event-footer:after,
.timeline .event-footer:before {
  display: table;
  content: " ";
}
.timeline .event-footer:after {
  clear: both;
}
.timeline p {
  padding: 20px 10px;
  text-align: left;
  color: #a1a1a1;
  line-height: 20px;
}
.timeline iframe {
  margin: 10px 0 0 0;
}

/* WORK */
.work .btn-group {
  margin-bottom: 10px;
}
.work .btn {
  margin-right: 6px;
}
.work .btn-group .btn {
  margin-right: 0;
}
.work .mix {
  margin-top: 20px;
}

/* SORT LIST */
#ulSorList {
}
#ulSorList:after {
  content: "";
  display: inline-block;
  width: 100%;
}
#ulSorList .mix {
  display: none;
  opacity: 0;
  margin-top: 20px;
}
#ulSorList .mix .item {
  background: #f2f2f2;
}
#ulSorList .gap {
  display: inline-block;
  width: 200px;
}

/* MAP CANVAS */
.map-canvas {
  height: 300px;
  margin: 0;
}
.map-canvas .info-window-content {
  min-width: 250px;
}
.map-canvas .info-window-content h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.map-canvas .info-window-content h3 {
  font-size: 14px;
  font-weight: 500;
}
.map-canvas .info-window-content p {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #999;
  text-shadow: none;
}

/* BLOG */
.blog-grid .date-over {
  padding: 10px;
  background: rgb(255, 255, 255);
  color: #7a92ac;
  position: absolute;
  top: 15px;
  right: 15px;
  text-align: center;
  border-radius: 3px;
}
.blog-grid .date-over strong {
  font-size: 12px;
  display: block;
}
.blog-masonry .w-box {
  margin-bottom: 25px;
}

.blog-post {
  color: var(--color-font-text);
}

.blog-post h2 {
  font-size: 18px;
  color: var(--color-font-header);
  border: 0;
  padding: 25px 15px 0px 15px;
}
.blog-post p {
  padding: 8px 15px;
  font-size: 14px;
  color: var(--color-font-text);
}
.blog-post blockquote {
  margin: 8px 15px;
}
.blog-post ul.meta-list {
  margin: 0;
  padding: 10px 15px 15px 15px;
  display: block;
  list-style: none;
}
.blog-post ul.meta-list li:first-child {
  padding: 0;
  border-left: 0;
}
.blog-post ul.meta-list li {
  display: inline-block;
  color: #a1a1a1;
}
.blog-post ul.meta-list li a {
  color: #7a92ac;
}
.blog-post ul.meta-list li a:hover {
  color: #e06d58;
  text-decoration: underline;
}

/* COMMENTS & COMMENT FORM */
.comments-wr {
  padding: 0 15px;
}
.comments-wr .comment:before,
.comments-wr .comment:after {
  display: table;
  content: " ";
}
.comments-wr .comment:after {
  clear: both;
}
.comments-wr .comment {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}
.comments-wr .comment p {
  padding: 0;
}
.comments-wr .comment .comment {
  margin: 12px 0 0 60px;
  padding-bottom: 0;
  border-bottom: 0;
  border-top: 1px solid #eee;
}
.comments-wr .comment img {
  width: 48px;
  float: left;
}
.comments-wr .comment p {
  margin-left: 60px;
  color: #777;
}
.comment-form {
  padding: 15px 15px;
}
.comment-form h2 {
  margin-bottom: 15px;
}

/* WIDGETS */
.widget {
  margin-bottom: 20px;
}

/* TAG CLOUD */
.widget.tags-wr {
  padding-bottom: 15px;
}
.tags-list:before,
.tags-list:after {
  display: table;
  content: "";
}
.tags-list:after {
  clear: both;
}
.tags-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.tags-list li {
  border: 1px solid #ecf0f1;
  background: #fff;
  padding: 5px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #999;
  font-size: 12px;
}
.tags-list li a {
  color: #7a92ac;
  margin-left: 4px;
}
.tags-list li:hover {
  background: #7a92ac;
  color: #fff;
}
.tags-list li:hover a {
  color: #fff;
  text-decoration: none;
}

/* VIDEO CONTAINER */
.video-container iframe {
  margin: 0;
  border: 0;
}

/* MEDIA - PHOTOS */
.media-photos-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  overflow: hidden;
}
.media-photos-list > li {
  float: left;
  margin-right: 6px;
  margin-bottom: 6px;
}
.media-photos-list > li img {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.media-photos-list > li img:hover {
  opacity: 0.65;
  filter: alpha(opacity=65);
}

/* LISTS */
ul.list-2 {
  -webkit-padding-start: 20px;
  margin: 15px 0;
}
ul.list-2 li {
  padding-left: 15px;
  list-style-type: none;
  background: url(../images/list-style-2.png) no-repeat 0 8px;
  color: #555;
}
ul.list-2 li a {
  color: #555;
}
ul.list-2 li a:hover {
  color: rgb(131, 174, 52);
  text-decoration: none;
}

ul.list-3 {
  margin: 0;
  list-style: none;
}
ul.list-3 li {
  height: 58px;
  background: #f2f2f2;
  overflow: hidden;
  margin-bottom: 13px;
}
ul.list-3 li .list-order {
  width: 58px;
  height: 58px;
  position: relative;
  float: left;
  text-align: center;
  line-height: 60px;
  background: #75b918;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
ul.list-3 li .list-order:after {
  position: absolute;
  top: 50%;
  right: 0px;
  border: 7px solid transparent;
  height: 1px;
  width: 0;
  border-right-color: #f2f2f2;
  margin-top: -7px;
  content: "";
}
ul.list-3 li .list-content {
  float: left;
  height: 58px;
  margin-left: 8px;
}
ul.list-3 li .list-content h5 {
  font-size: 15px;
  font-weight: 600;
  margin: 8px 0 4px 0;
}
ul.list-3 li .list-content p {
}

ul.popular {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.popular li {
  clear: left;
  border-bottom: 1px dotted #f1f1f1;
  padding: 10px 0;
  display: block;
  width: 100%;
}
ul.popular li img {
  width: 60px;
}
ul.popular li p {
  margin-left: 70px;
}
ul.popular li i {
  color: #a1a1a1;
  display: block;
  font-style: normal;
  font-size: 12px;
}
ul.popular li a {
  font-weight: 500;
}
ul.popular li a:hover {
  text-decoration: none;
  color: #464646;
}
ul.popular li span {
  font-size: 12px;
}

ul.categories {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}
ul.categories li {
  margin: 5px 0;
}
ul.categories.highlight li {
}
ul.categories.highlight li a {
  display: block;
  padding: 10px;
  background: #fff;
  color: #222;
}
ul.categories.highlight li a:hover {
  background: var(--color-table-hover);
  color: #fff;
  text-decoration: none;
}
ul.categories.highlight li a i {
  float: right;
  font-style: normal;
  color: #999;
  font-size: 11px;
}
ul.categories.highlight li a:hover i {
  color: #fff;
}

ul.recent {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.recent li {
  border-bottom: 1px dotted #e9e9e9;
}
ul.recent li:last-child {
  border: 0;
  padding-bottom: 0;
}
ul.recent li a {
  display: block;
  padding: 10px 0;
}
ul.recent li a:hover {
  border-color: #75b918;
}
ul.recent li h6 {
  margin: 0 0 10px 0;
}
ul.recent li h6 a {
  color: #353535;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  font-weight: 600;
}

ul.list-check {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list-check li {
  padding: 6px 0;
  display: block;
  width: 100%;
}
ul.list-check li i {
  color: #e06d58;
  font-style: normal;
  margin-right: 4px;
}
ul.list-check li a {
  font-weight: 500;
}
ul.list-check li a:hover {
  text-decoration: none;
  color: #a1a1a1;
}
ul.list-check li span {
  font-size: 14px;
}

ul.list-carousel {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.list-carousel li {
  padding: 6px 0;
  display: block;
  width: 100%;
  font-size: 16px;
}
ul.list-carousel li i {
  font-style: normal;
  margin-right: 4px;
}
ul.list-carousel li a {
  font-weight: 500;
}
ul.list-carousel li a:hover {
  text-decoration: none;
  color: #a1a1a1;
}
ul.list-carousel li span {
  font-size: 14px;
}

/* SKILLS DIAGRAM */
.skills {
  clear: both;
  width: 100%;
}
.skills ul,
.skills li {
  display: inline-block;
  list-style: none;
  margin: 0 6px 0 0;
  padding: 0;
}
.skills li {
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 1px;
  font-size: 18px;
}

.skills .jq {
  background: #97be0d;
}
.skills .css {
  background: #d84f5f;
}
.skills .html {
  background: #88b8e6;
}
.skills .php {
  background: #bedbe9;
}
.skills .sql {
  background: #edebee;
}

/* FORMS */
.form-default .form-control {
  background: #3d4754;
  border: 1px solid #3d4754;
  color: #fff;
}
.form-default .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-default .form-control:-moz-placeholder {
  color: #ddd;
}
.form-default .form-control::-moz-placeholder {
  color: #ddd;
}
.form-default .form-control:-ms-input-placeholder {
  color: #ddd;
}
.form-default .form-control::-webkit-input-placeholder {
  color: #ddd;
}

.form-light .form-control {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #3d4754;
  color: #555;
}
.form-light label {
  color: #fff;
}
.form-light .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-light .form-control:-moz-placeholder {
  color: #9ab2cc;
}
.form-light .form-control::-moz-placeholder {
  color: #9ab2cc;
}
.form-light .form-control:-ms-input-placeholder {
  color: #9ab2cc;
}
.form-light .form-control::-webkit-input-placeholder {
  color: #9ab2cc;
}

.sign-in-wr {
  margin-top: 26px;
  padding-top: 15px;
}
.sign-in-wr .form-icon {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 25px auto;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
}
.sign-in-wr h4 {
  padding: 0 15px;
}

/* SOCIAL ICONS */
.social-media i {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  background: #ddd;
  color: #333;
  border-radius: 2px;
}
.social-media .facebook {
  background: #43609c;
  color: #fff;
}
.social-media .twitter {
  background: #62addb;
  color: #fff;
}
.social-media .google {
  background: #dd4b39;
  color: #fff;
}
.social-media i:hover {
  background: none;
  color: #a1a1a1;
}

/* FORM ERRORS */
.form-errors {
  width: 100%;
  margin-bottom: 20px;
}
.form-errors .error {
  display: block;
  color: #ce1a33;
  font-weight: 500;
}
.help-inline {
  font-size: 11px;
  color: #b8321f;
  position: relative;
  top: -8px;
}
#info-box {
  display: none;
  text-align: center;
  margin-top: 30px;
  color: #59b540;
}
#info-box h2 {
  font-size: 16px;
  font-weight: 600;
}
#info-box p {
}

/* MAP CANVAS */
.map-canvas {
  margin-top: 30px;
  height: 300px;
}
.map-canvas .info-window-content {
  min-width: 250px;
}
.map-canvas .info-window-content h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.map-canvas .info-window-content h3 {
  font-size: 14px;
  font-weight: 500;
}
.map-canvas .info-window-content p {
  font-size: 12px;
  color: #999;
  text-shadow: none;
}

/* CLIENTS */
.carousel-clients .item-inner {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.carousel-clients .item-inner img {
  width: 100%;
}

/* TESTIMONIALS */
.carousel-testimonials .testimonial-entry p {
  display: block;
  height: 136px;
  margin-top: -5px;
  padding: 15px 15px;
  line-height: 20px;
  font-size: 13px;
  color: #eeeeee;
  background: #555;
  border-radius: 0;
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
.carousel-testimonials .testimonial-image {
  float: left;
  width: 80px !important;
  height: 80px;
  position: relative;
  margin-left: 30px;
}
.carousel-testimonials .indicator {
  display: block;
  content: "";
  margin-top: -18px;
  margin-left: 60px;
  width: 18px;
  height: 18px;
  background-color: #555;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #b0afaf;
  border-top: 0;
}
.carousel-testimonials .testimonial-entry .author {
}
.carousel-testimonials .testimonial-entry .testimonial-image {
  width: 80px;
  height: 80px;
}
.carousel-testimonials .testimonial-entry .testimonial-image img {
  width: 100%;
}
.carousel-testimonials .testimonial-author-info {
  padding-top: 28px;
}
.carousel-testimonials .testimonial-author-info a {
  padding-left: 20px;
}

/* FOOTER */
footer {
  padding-bottom: 20px;
  min-height: 30px;
  font-size: 12px;
  background: var(--color-bg-colorTwoD);
}
footer:before,
footer:after {
  display: table;
  content: " ";
}
footer:after {
  clear: both;
}
footer .col.reset {
  margin: 0;
}
footer h4 {
  margin-top: 20px;
  color: #eee;
  margin-bottom: 20px;
  text-transform: capitalize;
}
footer .col p {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}
footer a {
  color: var(--color-font-links);
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
footer .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .col ul li {
  color: #999;
}
footer .col ul li span {
  color: #eee;
}
footer .col address {
  color: #999;
  padding: 8px 0;
}
footer .company-info {
  font-size: 10px;
  text-align: justify;
}
footer .company-info h2 {
  font-size: 14px;
  font-weight: 600;
  background: #f00;
}
footer .col.col-social-icons i {
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  background: #ddd;
  color: #333;
  border-radius: 2px;
}
footer form {
  margin-top: 20px;
}
footer hr {
  border-top: 1px solid #444;
}
footer .copyright {
  color: #eee;
}

/* TO TOP */
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: none;
  text-indent: 100%;
  background: #555;
  border-radius: 3px;
}
#toTopHover {
  background: #cd5b46;
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
#toTop:active,
#toTop:focus {
  outline: none;
}
#toTop:before {
  font-family: "FontAwesome";
  content: "\f106";
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  text-indent: 0;
}

/* BOOTSTRAP CUSTOMIZATION */
.btn {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn i {
  margin-right: 4px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}
.btn-lg i {
  font-size: 24px;
  position: relative;
  top: 3px;
}

.btn-one {
  color: #9ab2cc;
  background-color: #fff;
  border: 0;
  border-bottom: 4px solid #ddd;
}
.btn-one:hover,
.btn-one:focus,
.btn-one:active,
.btn-one.active,
.open .dropdown-toggle.btn-one {
  color: #ffffff;
  background-color: #7a92ac;
  border-color: #5e7996;
}
.btn-one:active,
.btn-one.active,
.open .dropdown-toggle.btn-one {
  background-image: none;
}

.btn-two {
  color: #ffffff;
  background-color: #7a92ac;
  border: 0;
  border-bottom: 4px solid #5e7996;
}
.btn-two:hover,
.btn-two:focus,
.btn-two:active,
.btn-two.active,
.open .dropdown-toggle.btn-two {
  color: #ffffff;
  background-color: #3d4754;
  border-color: #2c343e;
}
.btn-two:active,
.btn-two.active,
.open .dropdown-toggle.btn-two {
  background-image: none;
}

.btn-three {
  color: #ffffff;
  background-color: var(--color-sheepOrange-1);
  border: 0;
  border-bottom: 4px solid;
  border-color: var(--color-sheepOrange-2);
}
.btn-three:hover,
.btn-three:focus,
.btn-three:active,
.btn-three.active,
.open .dropdown-toggle.btn-three {
  color: #ffffff;
  background-color: var(--color-sheepOrange-2);
  border-color: var(--color-sheepOrange-1);
}
.btn-three:active,
.btn-three.active,
.open .dropdown-toggle.btn-three {
  background-image: none;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--color-sheepOrange-1);
  border-color: var(--color-sheepOrange-2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: var(--color-sheepOrange-2);
  border-color: var(--color-sheepOrange-1);
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-neutral {
  color: #ffffff;
  background-color: #7a92ac;
  border-color: #59718b;
}
.btn-neutral:hover,
.btn-neutral:focus,
.btn-neutral:active,
.btn-neutral.active,
.open .dropdown-toggle.btn-neutral {
  color: #ffffff;
  background-color: #59718b;
  border-color: #7a92ac;
}
.btn-neutral:active,
.btn-neutral.active,
.open .dropdown-toggle.btn-neutral {
  background-image: none;
}

.btn-input {
  color: #ffffff;
  background-color: #7a92ac;
  padding: 5px;
  border-color: #5e7996;
}
.btn-input:hover,
.btn-input:focus,
.btn-input:active,
.btn-input.active,
.open .dropdown-toggle.btn-input {
  color: #ffffff;
  background-color: #fff;
  border-color: #2c343e;
}
.btn-input:active,
.btn-input.active,
.open .dropdown-toggle.btn-input {
  background-image: none;
}

/* PROGRESS BARS */
.progress {
  height: 28px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress {
  background-color: var(--color-pgrbar-1);
  margin-bottom: 0;
}
.progress .sr-only {
  width: auto;
  height: 28px;
  margin: 0;
  margin-left: 6px;
  clip: auto;
  line-height: 28px;
  font-size: 14px;
}
/*.progress .sr-only{width:auto; height:28px; margin:0; margin-left:30px; left:0; clip:auto; line-height:28px; font-size:14px;}*/
.progress-bar-one {
  background-color: var(--color-pgrbar-3);
}
.progress-bar-two {
  background-color: #697e93;
}
.progress-bar-three {
  background-color: #3b3e43;
}
.progress-bar-four {
  background-color: #fff;
}
.progress-bar-five {
  background-color: var(--color-pgrbar-2);
}

/* TABS */
div.tabs {
  margin-bottom: 0;
}
div.tabs:before,
div.tabs:after {
  display: table;
  content: " ";
}
div.tabs:after {
  clear: both;
}
div.tabs div.tab-content {
  -moz-border-radius: 0 0 2px 2px;
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: var(--color-background-accent);
  border: 1px solid var(--color-background);
  border-radius: 0 0 2px 2px;
  border-top: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  padding: 15px;
}
div.tabs ul.nav-tabs {
  margin: 0;
}
div.tabs ul.nav-tabs li.active a {
  background: var(--color-background-accent);
  border-top: 2px solid #ccc;
  color: var(--color-font-text);
}
div.tabs ul.nav-tabs a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  background: var(--color-legend-bg);
  border: 1px solid;
  border-color: var(--color-border);
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  margin-right: 1px;
  color: var(--color-font);
}

.copyright:hover::before {
  display: inline;
  content: "🐏";
}

div.tabs ul.nav-tabs a:hover {
  border-top: 2px solid #ccc;
  color: var(--color-sheepOrange-1);
}

div.tabs ul.nav-tabs a:active,
div.tabs ul.nav-tabs a:focus {
  border-bottom: 0;
}
div.tabs-left ul.nav-tabs a:active,
div.tabs-left ul.nav-tabs a:focus {
  border-right: 0;
}
div.tabs ul.nav-tabs a,
div.tabs ul.nav-tabs a:hover {
  border: 1px solid;
  border-color: var(--color-border);
  border-bottom: 0;
  border-top: 2px solid #7a92ac;
  font-size: 0.9em;
}
div.tabs-left ul.nav-tabs a,
div.tabs-left ul.nav-tabs a:hover {
  border: 1px solid #eee;
  border-right: 0;
  border-left: 2px solid #ddd;
  color: #ccc;
  font-size: 0.9em;
}
div.tabs-right ul.nav-tabs a,
div.tabs-right ul.nav-tabs a:hover {
  border: 1px solid #eee;
  border-left: 0;
  border-right: 2px solid #ddd;
  color: #ccc;
  font-size: 0.9em;
}
/* tab left */
.tabbable.tabs-left {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
}
div.tabbable.tabs-left div.tab-content {
  -moz-border-radius: 0 0 2px 2px;
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0 0 2px 2px;
  border-left: 0;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  padding: 15px;
}
div.tabbable.tabs-left ul.nav-tabs a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  background: #f7f7f7;
  border: 1px solid #eee;
  border-right: 0;
  border-radius: 2px 2px 0 0;
  color: #666;
  margin-bottom: 3px;
}
div.tabbable.tabs-left ul.nav-tabs li.active a {
  background: #fff;
  color: #ccc;
}

/* tab right */
.tabbable.tabs-right {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 30px;
}
div.tabbable.tabs-right div.tab-content {
  -moz-border-radius: 0 0 2px 2px;
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 0 0 2px 2px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0 0 2px 2px;
  border-left: 0;
  margin: 0;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.04);
  padding: 15px;
}
div.tabbable.tabs-right ul.nav-tabs a {
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  background: #f7f7f7;
  border: 1px solid #eee;
  border-left: 0;
  border-radius: 2px 2px 0 0;
  color: #666;
  margin-bottom: 3px;
}
div.tabbable.tabs-right ul.nav-tabs li.active a {
  background: #fff;
  color: #ccc;
}

/* TABS CENETERED */
.tabs-centered {
  width: 100%;
  display: table;
  margin: 0 auto;
}
.tabs-centered ul {
  background: #f00;
}
.tabs-centered ul li {
  width: 100px;
  display: inline-block;
  float: none;
}

/* COLLAPSE */
.panel-group {
  margin-bottom: 30px;
}
.panel-group .panel {
  border-radius: 0;
}

/* MODAL */
.modal-footer {
  margin-top: 0;
}

/* FONT AWESOME */
.fa-icon-list div {
  margin-top: 10px;
  color: #777;
  padding: 5px 10px;
  cursor: default;
}
.fa-icon-list div:hover {
  background: #e06d58;
  color: #fff;
}

/* RESPONSIVE MEDIA QUERIES */
@media (min-width: 1200px) {
  .w-section .aside-feature {
    text-align: left;
  }
  .w-section .aside-feature .icon-feature {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .navbar-default .dropdown-menu,
  .navbar-white .dropdown-menu {
    margin-top: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .w-box,
  .carousel-work figure {
    margin-bottom: 15px;
  }

  .carousel-1 .item img {
  }
  .carousel-1 .object {
    width: 400px !important;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 10px 20px;
    margin-right: 0;
    font-size: 15px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #e06d58;
    border-radius: 0 !important;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-radius: 0 !important;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li {
    padding: 5px 10px;
    border-bottom-color: #3b3e43;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li:hover {
    background: #e06d58;
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-collapse.in .dropdown-menu > li:hover > a {
    color: #fff;
  }
  .navbar-default .navbar-collapse.in .dropdown-menu > li > a > .caret {
    float: right;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #000 !important;
  }
  .navbar-default .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 0px;
    margin-left: 0px;
  }
  .navbar-default .dropdown-menu:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 0px;
    margin-left: 0px;
  }
  .navbar-default .dropdown-menu {
    margin-top: 0;
  }
  .navbar-default .dropdown-menu > li > a {
    padding: 8px 15px;
    color: #fff;
  }
  .navbar-default .dropdown-menu > li > a:hover {
    background: #e06d58;
    color: #fff;
  }

  .search-wr {
    height: 90px;
  }
  .search-wr .search-sign i {
    font-size: 40px;
    line-height: 90px;
    margin-left: 30px;
    color: #ddd;
  }
  .global-search-input {
    padding: 8px 0;
    font-size: 20px;
    position: relative;
    width: 90%;
    background: #fff;
    z-index: 10;
    border: none;
    outline: none;
    color: #ddd;
    font-weight: 500;
  }

  .w-section .aside-feature {
    text-align: center;
  }
  .w-section .aside-feature .icon-feature {
    text-align: center;
  }

  .sort-list-btn .btn {
    margin-bottom: 10px;
  }

  .w-box,
  .carousel-work figure {
    margin-bottom: 15px;
  }
  .animate-hover-slide figure img {
    width: 100%;
  }

  .carousel-1 .carousel-inner {
    height: 420px;
  }
  .carousel-1 .carousel-inner {
    overflow: hidden;
  }
  .carousel-1 .carousel-control i {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 36px;
    font-weight: 600;
  }
  .carousel-1 .item {
  }
  .carousel-1 .item img {
  }
  .carousel-1 .item-dark {
    color: #fff;
  }
  .carousel-1 p {
    font-size: 16px;
  }
  .carousel-1 .object {
    display: none;
  }
  .carousel-1 .object.fluid {
    width: 100%;
    left: 0;
    margin: 0;
  }
  .carousel-1 .object iframe {
    width: 100% !important;
  }
  .carousel-1 .object img {
  }
  .carousel-1 .description {
    width: 100% !important;
    top: 50px;
    left: 0 !important;
    margin: 0 !important;
  }
  .carousel-1 .description .title {
    font-size: 32px;
    margin: 0 0 15px 0;
    padding: 8px 20px;
    background: #fff;
    color: #9ab2cc;
    display: block;
    text-align: center;
  }
  .carousel-1 .description .subtitle {
    font-size: 24px;
    margin: 20px 0;
    padding: 0 15px !important;
    display: block;
    text-align: center;
  }
  .carousel-1 .description p {
    font-size: 16px;
    color: #fff;
    margin: 0;
  }
  .carousel-1 .description p.text-box {
  }
  .carousel-1 .description.fluid-center .features i {
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 34px;
    color: #697e93;
    font-weight: 700;
    border-radius: 80px;
    margin-right: 20px;
  }
  .carousel-1 .list-carousel {
    padding-left: 30px !important;
  }

  .carousel-3 figure {
    margin-bottom: 20px;
  }
  .carousel-3 .carousel-nav a {
    bottom: 16px !important;
    top: auto !important;
  }

  .slider {
    height: auto;
    max-height: 440px;
    margin: 0;
  }

  .cta-wr {
    text-align: center;
  }
  .cta-wr .btn {
    float: none !important;
  }
}
@media only screen and (min-width: 1440px) {
  .slider {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .search-wr .search-sign i {
    margin-left: 0;
  }
  .global-search-input {
    font-size: 16px;
    padding: 14px 0;
  }
}

/* Sheepit specifics */
.btn.square {
  height: 16px !important;
  margin: 5px;
  width: 16px !important;
  padding: 0;
}

.btn.square.btn-default {
  background: var(--color-sqbtn-1);
}

.w-box.blog-post .btn.square.btn-default {
  background: var(--color-sqbtn-1);
  border-color: var(--color-sqbtn-border);
}
.w-box.blog-post .btn-neutral {
  color: #ffffff;
  background-color: var(--color-sqbtn-2);
  border-color: var(--color-sqbtn-border);
}
.w-box.blog-post .btn-warning {
  background: var(--color-sqbtn-3);
  border: var(--color-sqbtn-border);
}

.btn.btn-round {
  border-radius: 50px;
  width: 34px !important;
  padding-left: 10px;
}
.btn.btn-round i {
  margin: 0;
}
.blog-post h2 {
  padding-top: 15px;
}
.blog-post .tiles {
  padding: 0 30px 15px;
}
.tiles > div > div {
  padding-bottom: 10px;
  overflow-wrap: break-word;
}
ul.categories.legend li a {
  background: var(--color-legend-bg);
  color: var(--color-font-header);
}
.btn.btn-other {
  background: #aeaeee;
  border-color: #9f9fd2;
}
.btn.btn-other:hover {
  background: #9f9fd2;
}
.blog-grid .col-md-3 .w-box img {
  width: 100%;
}
.blog-grid .col-md-3 .w-box .date-over {
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
}

/* Statistics */
.stat-box .sparkline {
  font-size: 1px;
  height: 76px;
}
.w-box.stat-box {
  border-color: var(--color-sheepOrange-2);
}
.stat-box .sparkline,
.stat-box .content {
  padding: 16px;
  float: left;
  width: auto;
}
.stat-box .sparkline {
  background: var(--color-sheepOrange-2);
}
.stat-box .content {
}
.stat-box .content h2,
.stat-side h2 {
  padding: 0;
  font-size: 22px;
  border-bottom: none;
}
.stat-box .content h2 {
  color: white;
}
.stat-box {
  background: var(--color-sheepOrange-1);
  color: white;
}
.stat-box a {
  color: white;
}
.stat-side h2,
.stat-side .bottom {
  padding-top: 85px;
}
.stat-side {
  text-align: center;
  padding: 10px 0;
}
#jqstooltip {
  padding: 0;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}
.polaroid {
  background: var(--color-polaroid-bg);
  padding: 10px 10px 20px;
  display: inline-block;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
  transition: 1s all;
  border: 1px solid;
  border-color: var(--color-border);
  -webkit-box-shadow: -5px 6px 12px 2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: -5px 6px 12px 2px rgba(0, 0, 0, 0.37);
  box-shadow: -5px 6px 12px 2px rgba(0, 0, 0, 0.37);
}

#logo {
  position: relative;
}

.navbar-brand:hover #logo {
  animation-delay: 3s;
  animation-name: logoSheep;
  animation-duration: 6s;
  animation-direction: normal;
}

@keyframes logoSheep {
  0% {
    rotate: 0deg;
    left: 0px;
    top: 0px;
  }
  5% {
    rotate: 30deg;
  }
  10% {
    top: -10px;
  }
  20% {
    rotate: -20deg;
    left: 100px;
    top: 0px;
  }
  35% {
    top: -20px;
  }
  50% {
    rotate: 340deg;
    left: -80px;
    top: 0px;
  }
  70% {
    top: -30px;
  }
  100% {
    rotate: -720deg;
    top: 0px;
    left: 0px;
  }
}

.polaroid img {
  border: 1px solid;
  border-color: var(--color-border);
}
.login h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-font-accent);
}
.color-two a {
  color: var(--color-sheepOrange-1);
}

.navbar-default .navbar-nav > li.navbar-user > a > img.avatar {
  width: 32px;
  height: 32px;
}
.navbar-default .navbar-nav > li.navbar-user > a {
  padding: 7px;
}
.navbar-default .navbar-nav > li.navbar-user > a > i {
  font-size: 20px;
  padding: 6px 8px;
}

.fulladmin-button {
  text-align: center;
  padding-bottom: 30px;
}
.fulladmin-button a {
  display: block;
  background-color: #e06d58;
  padding: 20px;
  color: white;
  font-size: 20px;
}
.fulladmin-button a:hover {
  background-color: #9c4c3d;
  text-decoration: none;
}
.fulladmin-button i.fa {
  font-size: 50px;
  padding-bottom: 10px;
}

.ui-widget-content {
  border: 1px solid;
  border-color: var(--color-border);
  background: var(--color-tooltip-bg);
  background-color: var(--color-tooltip-bg);
  color: var(--color-font);
}

.ui-tooltip-content {
  font-family: "Roboto Condensed", sans-serif !important;
  color: var(--color-font);
  background-color: var(--color-tooltip-bg);
}

#tab_actions form {
  display: inline-block;
  padding-bottom: 10px;
}

.level_debug {
}

.level_info {
  color: blue;
}

.level_warning {
  color: orange;
}

.level_error {
  color: red;
  font-weight: bold;
}

.level_critical {
  color: red;
  font-weight: bold;
}

.msg_finished {
  color: #05a305;
}

.msg_paused {
  color: #f00000;
}

.msg_waiting {
  color: var(--color-blue);
}
.msg_processing {
  color: var(--color-msg_processing);
}
.msg_unknown {
  color: blue;
}

.msg_project_warning {
  color: #a30505;
}

.chat_container {
  display: flex;
}

/* Chat */
.chatSys {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  text-align: left;
  padding: 1rem;
}

.chatSys p {
  margin: 0rem;
}

.chatSys .window {
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* background-color: #3f8399; */
  /* border: 0.2rem solid;
  border-color: var(--color-border); */
  padding: 1rem 2rem;
}

.chatSys .window::-webkit-scrollbar {
  width: 0.8rem;
}
.chatSys .window::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 1rem;
}
.chatSys .window::-webkit-scrollbar-thumb:hover {
  background: rgb(181, 16, 16);
}

.chatSys .window .msg {
  position: relative;
  overflow: visible;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.4rem;
  max-width: 80%;
  border-radius: 0.3rem;
  border: 0.2rem solid;
  border-color: var(--color-border);
}

.chatSys .window .msg.received {
  background-color: var(--color-chatSys-Msg-rec-bg);
  align-self: flex-start;
}

.chatSys .window .msg.send {
  background-color: var(--color-chatSys-Msg-send-bg);
  align-self: flex-end;
}

.chatSys .window .msg.system {
  background-color: rgb(205, 198, 13);
  align-self: center;
  text-align: center;
}

.chatSys .window .msg .header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.chatSys .window .msg.send .header {
  align-self: flex-end;
}

.chatSys .window .msg .header .avatar img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.2rem;
}

.chatSys .window .msg .header .user {
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.6rem;
}

.chatSys .window .msg.msg.received .header .user {
  margin-left: 0.5rem;
  text-align: left;
}

.chatSys .window .msg.send .header .user {
  margin-right: 0.5rem;
  text-align: right;
}

.chatSys .window .msg .header .user .name {
  font-size: 2.1rem;
  padding: 0rem;
}

.chatSys .window .msg .header .user .timestamp {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  font-style: italic;
}

.chatSys .window .msg .textMsg {
  font-size: 1.7rem;
  line-height: 2.3rem;
  margin-top: 0.5rem;
}

.chatSys .window .msg.send .textMsg {
  align-self: flex-end;
}
