.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:440px;
	background:url(../../media/image/slider/fs-spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	z-index:9999;
}

.fraction-slider .prev:before{content: "\f104";
	font-family: 'FontAwesome';
	color: #fff;
	padding: 12px;
	font-size: 32px;
	display: block;
	background:rgba(0,0,0,0.6);
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
		-moz-border-top-left-radius:2px;
		-moz-border-bottom-left-radius:2px;
			-webkit-border-top-left-radius:2px;
			-webkit-border-bottom-left-radius:2px;
}
.fraction-slider .prev{
	left:-60px; top:48%;
	background:#000;
	
}
.fraction-slider .prev:hover{
	background:#555;
	text-decoration:none;
}

.fraction-slider .next:before{content: "\f105";
	font-family: 'FontAwesome';
	color: #fff;
	padding: 12px;
	font-size: 32px;
	display: block;
	background:rgba(0,0,0,0.6);
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
		-moz-border-top-left-radius:2px;
		-moz-border-bottom-left-radius:2px;
			-webkit-border-top-left-radius:2px;
			-webkit-border-bottom-left-radius:2px;
}

.fraction-slider .next{
	right:-60px; top:48%;
}
.fraction-slider .next:hover{
	background:#555;
	text-decoration:none;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}

/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:10px;
	z-index:9999;	
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(media/image/slider/fs-pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active{
	background:url(media/image/slider/fs-pager.png) 0px 0px no-repeat transparent;
}
