/* Responsive */
.container { position: relative; width: 1200px; margin: 0 auto; padding: 0;}
.container:after { content: " 0020"; display: block; height: 0px; clear: both; visibility: hidden; }
.four_columns > * { float: left; width: 25%; }
.three_columns > * { float: left; width: 33.33333%; }
.three_columns > *:nth-child(4) { clear: left; }
.two_columns > * { float: left; width: 50%; }
.four_columns > .three_colspan { width: 75%; }


#menu_bg { clear: right; width: 1200px; text-align: right; }
#catch_phrase { float: left; width: 1200px; font-size: 2em; text-align: center; margin-bottom: 12px; margin-top: 12px; border-bottom: none;}
.title { float:left; width: 300px; }
.title img { padding: 6px 0 0 8px }
#header_little { display: none; height: 44px; }

@media only screen and (max-width:1199px) {
  .container { width: 100%; }
  #menu_bg { width: 100%; }
  #catch_phrase { width: 100%; }
}

@media only screen and (max-width:959px) {
  #header_big { display: none; }
  #header_little { display: inherit; }
  .title, .title img { width: 120px; padding: 0; height: 44px; }
  table.members { width: 100% }
  table.members tr td, table.members tr th { padding: 0; }

}

@media only screen and (min-width:959px) and (max-width:1199px) {
}

@media only screen and (min-width:480px) and (max-width:960px) {
  .four_columns > * { width: 50%; }
  .four_columns > .three_colspan { width: 100%; }
  .four_columns > *:nth-child(3) { clear: left; }
}

@media only screen and (max-width:767px) {
  .two_columns > * { width: 100%; }
  .three_columns > * { width: 100%; }
  .projects .project_link .truncatable { width: 150px; }
}

@media only screen and (max-width:319px) {
  .container { width: 320px; }
}

@media only screen and (max-width:479px) {
  .four_columns > * { width: 100%; }
  .four_columns > .three_colspan { width: 100%; }
  table.members tr th:nth-child(4), table.members tr td:nth-child(4), table.members tr th:nth-child(5), table.members tr td:nth-child(5) { display: none; }
  .projects .owner_name { display:none; }
  .projects .project_link .truncatable { width: 75px; }
  .projects .processing_frames { display: none; }
}

/* Backgrounds */
/* #menu_bg, #catch_phrase, #news_container, #main_contents_container { background: #FFF; border: 1px solid #D8D8D8; } */
#menu_bg,  #news_container, #main_content { background: #FFF; border: 1px solid #D8D8D8; }
.dark { background: #181818; }
.dark_gradient, .dark, .medium_dark { color: #d8d8d8; text-shadow: 1px 1px 1px #000; }
.dark_gradient a, .dark a, .medium_dark a { color: #d8d8d8; }
.dark_gradient a:hover, .dark a:hover, .medium_dark a:hover { color: white; }
/* .dark_gradient .grayed, .dark .grayed, .medium_dark .grayed { font-size: 0.9em; color: #908683; } */
.dark_gradient .polaroid, .dark .polaroid, .medium_dark .polaroid { -webkit-box-shadow: 3px 1px 12px #000; -moz-box-shadow: 3px 1px 12px #000; box-shadow: 3px 1px 12px #000; }
.medium_dark input[type=text], .medium_dark textarea { background-color: #333333; border-color: #666; color: white; }
.dark_gradient, .dark { background: #181818; }
.medium_dark { background: #333333; color: #d8d8d8; }
.dark_gradient { background: #181818 -moz-linear-gradient(top, rgba(24,24,24,1) 0%, rgba(81,81,81,1) 100%); background: #181818 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(24,24,24,1)), color-stop(100%,rgba(81,81,81,1))); background: #181818 -webkit-linear-gradient(top, rgba(24,24,24,1) 0%,rgba(81,81,81,1) 100%); background: #181818 -o-linear-gradient(top, rgba(24,24,24,1) 0%,rgba(81,81,81,1) 100%); background: #181818 -ms-linear-gradient(top, rgba(24,24,24,1) 0%,rgba(81,81,81,1) 100%); background: #181818 linear-gradient(top, rgba(24,24,24,1) 0%,rgba(81,81,81,1) 100%); } 

/* Header */
.login_panel { float: right; text-align: right; height: 44px; padding-top: 4px; }
#navigation { float: right; height: 44px; margin-right: 16px; }
#navigation select { width: 100px; display: block; height: 30px; }
#menu { width: 659px; display: inline-block; text-align:center; font-size: 2em; height: 90px; }
#menu ul { height: 90px; }
#menu ul li { width: 128px; height: 90px; float: left; }
#menu ul li a { font-weight: normal; color: #978f89; }
#menu ul li a.get_started { color: #181818; }
#menu ul li:hover, #menu ul li.selected { border-bottom: 5px solid #dc5430; }
#menu ul li a div { height: 90px; }
#catch_phrase > div { padding: 10px; }
#main_content { margin-top: 10px; }
#main_content h2 { padding-left: 10px; margin-top: 10px; margin-bottom: 10px; }
.config { cursor: pointer; }
.config:hover { opacity: 0.7; }
#config { opacity: 0; position:absolute; background: white; display:none; border: 1px solid #DDDDDD; min-width: 200px; z-index: 10; }
#config li { margin: 10px; display: block; }
#config ul:nth-child(2) { border-top: 1px solid #CCCCCC; }
#config ul:nth-child(2) li { margin: 0; padding: 5px 10px; }
#config ul:nth-child(2) li img { padding-right: 5px; }
#config ul li.selected { background: #BBBBBB; color: #FFFFFF }
#donate_form {display: inline; margin: 0px; padding-right: 20px;}

/* Ideas */
#ideas { text-align: center; }
#ideas h3 { margin-bottom: 10px; }
#ideas > div > * { padding: 10px; max-width:250px; margin: 0 auto; }
#idea1 { background-image:url('../image/idea1.png'); }
#idea2 { background-image:url('../image/idea2.png'); }
#idea3 { background-image:url('../image/idea3.png'); }
#idea4 { background-image:url('../image/idea4.png'); }

/* News */
#news_container { border-bottom: none; border-top: none; }
#news img { display: block; margin: 0 auto 10px auto; }
#news a { margin-top: 10px; }
#news > div > * { padding: 10px 20px; }

/* Footer */
#footer > div > * { padding: 10px; }
#subfooter { text-align:center; padding: 10px 0 5px; }
#recent_images_slider { height: 150px; }
#recent_images_slider li { position:absolute; }
#recent_images_slider img { display: block; margin-bottom: 10px; }
.circles { display: inline-block; width: 60px; height: 50px; }
.circles li { margin: 0 2px; float: left; cursor: pointer; }
.circles a { display: block; width:15px; height:15px; border-radius:15px; background:#ffffff; }
.circles a.selected { background: #dc5430; }

/* Article */
article.two_columns > div > * { padding: 10px 0; }
article.two_columns > div:nth-child(1) { text-align: center; }
article.two_columns header { font-weight: bold; font-family: 'BebasNeueRegular'; font-weight: normal; font-size: 2em; padding-bottom: 0px;  }
article a { margin: 0 auto;}
article.two_columns .grayed { padding: 0 10px 5px 0; margin-bottom: 10px; margin-right: 10px;  border-bottom: 1px solid #CCCCCC; }
article a img { width: 90%; }

/* Profile */
#profile_inner > div > * { padding: 10px; }
#profile_avatar > div { text-align: right; margin-right: 20px; }
#profile_avatar img { width: 128px; height: 128px; text-align:right; }
#profile_projects > div { padding-right: 30px; }
#profile_projects table { min-width: 200px; }
#profile_projects table td { text-align: center; }
#profile_password table { width: 100%; }
#profile_password input[type=text]
#profile_password input[type=password] { width: 95% }
#profile_change_avatar input[type=file] { display: block; margin: 10px auto 0 auto; float: left;}
#profile_email table { margin: 0 auto; }
#profile_notifications table { margin: 0 auto; }
#profile_permissions table { margin: 0 auto; }
#profile_awards > div > * { padding: 10px; }
#profile_awards table { width: 100%; }


table.members td {text-align: center; vertical-align: middle; }

#see_frames div { text-align: center; padding: 10px 0; }

#faq_general > p, #faq_general > ul { padding-left: 20px; }

#faq {
	border-top:1px solid #CCC;
	margin-top: 20px;
}

#adsense-side-right {
    float:right;
    top: 44px;
    right:-130px;
    position: absolute;
    border: 1px solid #d8d8d8;
}
#adsense-side-right { display: none; }
@media screen and (min-width:1281px) {
    #adsense-side-right {
        display: block;
    }
}


.main_text {
	padding: 20px;
	line-height: 25px;
	display:table-cell;
	width: 66%;
}

.main_image {
	background: url('../../media/image/server-closeup.jpg');
	background-size: cover;
	display:table-cell;
	width: 34%;
	text-align: right;
	padding: 0 15px;
}

.main_text_with_image {
	display: table;
	background:#EDEDED;
	border-bottom: 1px solid #CCC;
	width: 100%;
}

