/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.progress {
  height: 20px;
  background: #ebebeb;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 8px;
  height: 18px;
  line-height: 16px;
  text-align: right;
  background: #cccccc;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: linear-gradient(to bottom, #f0f0f0, #dbdbdb 70%, #cccccc);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.progress > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 18px;
  background: url("images/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}
.progress .orange {
  background: #f2963c;
  border-color: #ef8425 #ec6810 #ec6810;
  background-image: -webkit-linear-gradient(top, #f8db9c, #f5bc63 70%, #f2963c);
  background-image: -moz-linear-gradient(top, #f8db9c, #f5bc63 70%, #f2963c);
  background-image: -o-linear-gradient(top, #f8db9c, #f5bc63 70%, #f2963c);
  background-image: linear-gradient(to bottom, #f8db9c, #f5bc63 70%, #f2963c);
}
.progress .gray {
  background: #b8b8b8;
  border-color: #afafaf #a6a6a6 #989898;
  background-image: -webkit-linear-gradient(top, #dadada, #c6c6c6 70%, #b8b8b8);
  background-image: -moz-linear-gradient(top, #dadada, #c6c6c6 70%, #b8b8b8);
  background-image: -o-linear-gradient(top, #dadada, #c6c6c6 70%, #b8b8b8);
  background-image: linear-gradient(to bottom, #dadada, #c6c6c6 70%, #b8b8b8);
}
.progress .green {
  background: #4cc15c;
  border-color: #4cc15c #3eb54e #359a43;
  background-image: -webkit-linear-gradient(top, #93da9d, #73ce7f 70%, #4cc15c);
  background-image: -moz-linear-gradient(top, #93da9d, #73ce7f 70%, #4cc15c);
  background-image: -o-linear-gradient(top, #93da9d, #73ce7f 70%, #4cc15c);
  background-image: linear-gradient(to bottom, #93da9d, #73ce7f 70%, #4cc15c);
}
