{% extends 'base.html.twig' %}

{% block title %}
    Gift
{% endblock %}

{% block content %}

    {{ printInfo("You have claimed your gift.", "You now have" ~ number_format_html(user_logged.getPoints()) ~ " points.") }}

{% endblock %}