{% extends 'base.html.twig' %}

{% block content %}
    <div id="news" class="four_columns">
        {% for a_news in all_news %}
            <div class="col-md-3" style="margin-bottom: 35px">
                <a href="{{ path('app_news_single', {'news' : a_news.id }) }}"><img src="{{ a_news.image }}" class="polaroid" height="{{ thumb_height }}" width="{{ thumb_width }}" style="margin-bottom: 10px"/>
                    <h4>{{ a_news.title }}</h4>
                </a>
                <div class="text">
                    {{ a_news.sumUp }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}