{% extends 'base.html.twig' %}

{% block content %}
    <section class="slice animate-hover-slide">
        <div class="w-section inverse blog-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="w-box blog-post">
                                    <figure>
                                        <img alt="" src="{{ news.image }}" class="img-responsive" style="width:100%">
                                        <h2>{{ news.title }}</h2>
                                        <ul class="meta-list">
                                            <li>
                                                {{ news.id | date('F jS, Y') }}
                                            </li>
                                        </ul>
                                        {{ news.content | raw }}
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h4 class="widget-heading"><a href="{{ path('app_news_all') }}">Other news</a></h4>
                            <div class="tabs">
                                <div class="tab-content">
                                    <ul class="popular">
                                        {% for a_news in other_news %}
                                            <li>
                                                <img data-src="{{ a_news.image }}" alt="" class="img-thumbnail pull-left">
                                                <p>
                                                    <a href="{{ path('app_news_single', { 'news' : a_news.id}) }}">{{ a_news.title }}</a>
                                                    <i>{{ a_news.id | date('F jS, Y') }}</i>
                                                </p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

