{% extends 'base.html.twig' %}

{% block title %}
    Term of use
{% endblock %}

{% block content %}

    <style>
        .color-one a {
            color: #fff;
        }
    </style>

    <section class="slice color-one">

        <div class="w-section inverse" style="padding-bottom:0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2><a name="terms">Terms of use</a></h2>
                        <h4>Run the worker only on authorized computers</h4>
                        <p>Run the worker only on computers that you own, or for which you have obtained the owner's permission.</p>
                        <h4>How the farm will use your computer</h4>
                        <p>When you run the farm-worker on your computer, it will use part of the computer's CPU power, disk space, and network bandwidth.</p>

                        <h4>Liability</h4>
                        <p>This website assumes no liability for damage to your computer, loss of data, or any other event or condition that may occur as a result of participating in a render.</p>

                        <h4>Abuse of the renderfarm</h4>
                        <p>
                            Abuse may include, but is not limited to: operating multiple accounts to circumvent SheepIt limitations, operating a custom client designed to cheat the scoring system or inject malicious code into the farm, uploading pornographic or other NSFW projects to be rendered.<br>
                            <br>
                            Users found abusing the renderfarm may find their projects removed and their accounts blocked from participating without warning.<br>
                            SheepIt is a community of shared resources, not a charity. Play safe, play fair.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2><a name="privacy">Privacy policy</a></h2>
                        <p>Your account is identified by a name that you choose. This name may be shown on the statistics page of the website. If you want to be anonymous, choose a name that doesn't reveal your identity.</p>
                        <p>If you participate in a render, information about your computer (such as its processor type, amount of memory, etc.) will be recorded by us and used to decide what type of work to assign to your computer. This information will also be shown on the website, such as the statistics page or project pages. Nothing that reveals your computer's location (e.g. its domain name or network address) will be shown.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice color-one">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2><a name="copyright">Copyright</a></h2>
                        <p>SheepIt Render Farm does not lay claim on generated images, it only acts as a tool to provide computing power to owners of the project. The project owners will have all rights reserved to them; as long as the claimant is the true rights' holder of all assets used, and complies with applicable free of use laws, as well as potential rights' holder permissions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice">
        <div class="w-section inverse" style="padding-bottom:0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2><a name="credits">Credits</a></h2>
                        <p>Original award images were made by Eyeballcode.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}