{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}


{% block content %}
    {{ printBreadcrumbs('Upload new project', [
        {'title' : 'Projects', 'url' :  path('app_getstarted_main')},
        {'title' : 'Upload new project'}
    ]) }}

    <section class="slice color-two">
        <div class="w-section inverse">
            <div id="project_add_analyse_result" class="container">
                <div class="row">
                    <center>
                        Please wait while your project is being analysed.<br>It might take few minutes.<br>
                        <span id="project_add_analyse_status"></span>
                        <div style="width: 44px;height: 44px;background: url('/media/image/fancybox_loading.gif') center center no-repeat;">
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>
    <script>
        // keep the php session alive by doing a heartbeat-->
        // (the uploading might take a lot of time and the uploader might not be on the page when the upload finished
        keepPHPSessionAlives();
        google.charts.setOnLoadCallback(waitingForAnalyse);

        function waitingForAnalyse() {
            doAnalyseUploadedProject('{{ token }}');
        }

    </script>

{% endblock %}