{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}

{% block content %}
    {{ printBreadcrumbs('Frames', [
        {'title' : 'Projects', 'url' : path('app_home_projects')},
        {'title' : Misc_stringLimit(project.name(), 32), 'url' : path('app_project_manage', {'project' : project.id()})},
        {'title' : 'Charts'},
    ]) }}

    <section class="slice animate-hover-slide color-three">
        <div class="w-section inverse blog-grid">
            {{ displayGoogleAdsense() }}
            <script>
                var progression_data = {{ progression_data|raw }}
                var piechart_data = {{ progression_data|raw }}
                {% if show_rendertime_frames %}
                var rendertime_data = {{ progression_data|raw }}
                {% endif %}
                const ChartStyles = getComputedStyle(document.documentElement);
                let colorChartText = ChartStyles.getPropertyValue('--color-chart-text').trim();
                let colorChartGridline = ChartStyles.getPropertyValue('--color-chart-gridline').trim();
                let colorChartMinorgridline = ChartStyles.getPropertyValue('--color-chart-minorgridline').trim();
                let colorChartLine = ChartStyles.getPropertyValue('--color-chart-line').trim();
                var options = {
                    backgroundColor: {fill: 'transparent'},
                    titleTextStyle: {
                        color: colorChartText,
                    },
                    hAxis: {
                        textStyle: {color: colorChartText},
                        titleTextStyle: {color: colorChartText},
                    },
                    vAxis: {
                        textStyle: {color: colorChartText},
                        titleTextStyle: {color: colorChartText},
                        gridlines: {color: colorChartGridline},
                        minorGridlines: {color: colorChartMinorgridline},
                        minValue: 0,
                    },
                    legend: {
                        textStyle: {color: colorChartText},
                        position: 'in'
                    },
                    colors: [colorChartLine],
                };

                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    linechart("Progression of {{ project.name() }}", options, progression_data, "progression_div");
                    piechart("user distribution of {{ project.name() }}", piechart_data, "piechart_div");
                    {% if show_rendertime_frames %}
                    linechart2("Rendertime of {{ project.name() }}", rendertime_data, "rendertime_div");
                    {% endif %}
                }
            </script>

            <div class="container">
                <div class="row">

                    <div class="row">
                        <div class="col-md-6" id="progression_div" style="width: 700px; height: 500px;"></div>
                        <div class="col-md-6" id="piechart_div" style="width: 500px; height: 500px;"></div>
                    </div>

                    {% if show_rendertime_frames %}
                        <div class="row">
                            <div class="col-md-12" id="rendertime_div" style="width: 100%;height: 500px;"></div>
                        </div>
                    {% endif %}


                    If you want to thank or give credits to users who helped you render the project.
                    <br>
                    <div class="col-md-6">
                        <div class="row">
                            {% for id in users %}
                                <div class="col-md-2"><a href="{{ path('app_user_profile', {'user' : id}) }}"><img data-src="{{ path('app_avatar_getfile', {'size' : 'small', 'user' : id}) }}'" alt="" class="img-thumbnail pull-left">&nbsp;{{ id }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        This is a plain text list of them.<br/>
                        <pre>
                {% for id in users %}
                    {{ id }}
                {% endfor %}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}