{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}

{% block content %}
    {{ printBreadcrumbs('Frames', [
        {'title' : 'Projects', 'url' : path('app_home_projects')},
        {'title' : Misc_stringLimit(project.name(), 32), 'url' : path('app_project_manage', {'project' : project.id()})},
        {'title' : 'Frames'},
    ]) }}
    <section class="slice color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse blog-grid">
            <div class="container">
                <div class="row">
                    {{ UIShowFrames(project, interval) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}