{% extends 'base.html.twig' %}

{% block title %}
    Project
{% endblock %}

{% block content %}

    {{ printBreadcrumbs('Administration', [
        {'title' : 'Projects', 'url' : path('app_home_projects')},
        {'title' : Misc_stringLimit(project.name(), 32), 'url' : path('app_project_manage', {'project' : project.id()})},
        {'title' : 'Administration'},
    ]) }}

    <script type="text/javascript">;
        jQuery(document).ready(function ($) {
            $("#project_acl_manager_add_form_user").autocomplete({minLength: 3, source: "{{ path('app_user_list_from_term') }}"});
            $("#project_acl_renderer_add_form_user").autocomplete({minLength: 3, source: "{{ path('app_user_list_from_term') }}"});
            $("#project_acl_team_add_form_user").autocomplete({
                minLength: 3,
                source: "{{ path('app_team_list_from_term') }}",
                select: function (event, ui) {
                    $("#project_acl_team_add_form_user").val(ui.item.label);
                    $("#project_acl_team_add_form_user_value").val(ui.item.value);
                    return false;
                },
                change: function (event, ui) {
                    $("#project_acl_team_add_form_user_value").val(ui.item ? ui.item.value : 0);
                }
            });
        });
    </script>

    <section class="slice animate-hover-slide color-three">
        {{ displayGoogleAdsense() }}
        <div class="w-section inverse blog-grid">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12" id="jobs_of_a_project">
                                {{ printBlend(project) }}
                                {% if user_logged.isModerator() %}
                                    <div class="w-box blog-post">
                                        <h2>Admin only error stats</h2>
                                        <script>
                                            var error_type = {{ errors_type_js_values | raw }};
                                            google.charts.setOnLoadCallback(drawChart);

                                            function drawChart() {
                                                piechart("Type of error sent by client", error_type, "piechart_error_type_div");
                                            }
                                        </script>
                                        <div class="row">
                                            <div id="piechart_error_type_div" style="width: 100%; height: 500px;"></div>
                                        </div>

                                        <div class="row">
                                            <ul>
                                                {% for row in errors %}
                                                    <li><a href="{{ path('app_session_log', {'filename' : 'error_' ~ row.getTime() ~ '_' ~ row.getSession()}) }}">{{ getTimeWithLocalTimeZone("M d H:i", row.getTime()) }}</a>
                                                        {{ ClientError_toHuman(row.type()) }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h4 class="widget-heading">Legend</h4>
                            <ul class="categories legend highlight">
                                <li><a href="#"><span class="square btn btn-neutral"></span>Finished<i></i></a></li>
                                {% if user_logged.isModerator() %}
                                    <li><a href="#"><span class="square btn btn-danger"></span>Finished (over limit)<i></i></a></li>
                                {% endif %}
                                <li><a href="#"><span class="square btn btn-warning"></span>In progress<i></i></a></li>
                                <li><a href="#"><span class="square btn btn-default"></span>Waiting<i></i></a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h4 class="widget-heading hide">Tab widget</h4>
                            <div class="tabs">
                                <ul class="nav nav-tabs">
                                    <li><a href="#tab_permissions" data-toggle="tab">Permissions</a></li>
                                    {% if display_renderers_panel %}
                                        <li><a href="#tab_renderers" data-toggle="tab">Renderers</a></li>
                                    {% endif %}
                                    <li class="active"><a href="#tab_actions" data-toggle="tab"><i class="icon-star"></i>Actions</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="tab_permissions">
                                        <div id="project_acl_manager">
                                            <h4>Managers</h4>
                                            <ul id="project_acl_manager_current">
                                                {% for manager_link in manager_links %}
                                                    <li><a href="{{ path('app_user_profile', {'user':  manager_link.getPrimary()}) }}">{{ manager_link.getPrimary() }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            <div id="project_acl_manager_add">
                                                <form class="form-inline" id="project_acl_manager_add_form" action="javascript:;">
                                                    <input type="hidden" id="project_acl_manager_add_form_project" value="{{ project.id() }}"/>
                                                    <div class="input-group">
                                                        <input class="form-control" id="project_acl_manager_add_form_user" placeholder="Add a user to manager list"/>
                                                        <span class="input-group-btn">
                                                        <input class="btn btn-primary" type="button" onclick="doAddACLUserProjectManage(); return false" value="Add"/>
                                                    </span>
                                                    </div>
                                                </form>
                                            </div>
                                            {% if manager_links is not empty %}
                                                <div id="project_acl_manager_del">
                                                    <form class="form-inline" id="project_acl_manager_del_form" action="javascript:;">
                                                        <input type="hidden" id="project_acl_manager_del_form_project" value="{{ project.id() }}"/>
                                                        <div class="input-group">
                                                            <select name="select" id="project_acl_manager_del_form_user" class="form-control">
                                                                {% for manager_link in manager_links %}
                                                                    <option value="{{ manager_link.getPrimary() }}">{{ manager_link.getPrimary() }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="input-group-btn">
                                                            <input class="btn btn-primary" type="button" onclick="doDelACLUserProjectManager(); return false" value="Remove"/>
                                                        </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if display_renderers_panel %}
                                        <div class="tab-pane" id="tab_renderers">
                                            <div id="project_acl_renderer">
                                                <h4>Users</h4>
                                                {% if project.publicRender() %}
                                                    <form class="form-inline">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="project_public_render_checkbox_1" id="project_public_render_checkbox_1" value="1" checked="checked" onclick="doModifyAttributeFromCheckbox('{{ project.id() }}', 'public_render', 'project_public_render_checkbox_value'); return false">
                                                                <input type="hidden" id="project_public_render_checkbox_value" value="0"/>
                                                                Renderable by all members
                                                            </label>
                                                        </div>
                                                    </form>
                                                {% else %}
                                                    <ul id="project_acl_renderer_current">
                                                        {% for renderer_link in renderer_links %}
                                                            <li><a href="{{ path('app_user_profile', {'user' : renderer_link.getPrimary()}) }}">{{ renderer_link.getPrimary() }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                    <form class="form-inline" id="project_acl_publicrender">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="project_public_render_checkbox_value" id="project_public_render_checkbox_value" value="1" onclick="doModifyAttributeFromCheckbox('{{ project.id() }}', 'public_render', 'project_public_render_checkbox_value'); return false;">
                                                                Renderable by all members
                                                            </label>
                                                        </div>
                                                    </form>
                                                    <div id="project_acl_renderer_add">
                                                        <form class="form-inline" id="project_acl_renderer_add_form" action="javascript:;">
                                                            <input type="hidden" id="project_acl_renderer_add_form_project" value="{{ project.id() }}"/>
                                                            <div class="input-group">
                                                                <input class="form-control" id="project_acl_renderer_add_form_user" placeholder="Add a user to renderer list"/>
                                                                <span class="input-group-btn">
                                                            <input class="btn btn-primary" type="button" onclick="doAddACLUserProjectRenderer(); return false" value="Add"/>
                                                        </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    {% if renderer_links is not empty %}
                                                        <div id="project_acl_renderer_del">
                                                            <form class="form-inline" id="project_acl_renderer_del_form" action="javascript:;">
                                                                <input type="hidden" id="project_acl_renderer_del_form_project" value="{{ project.id() }}"/>
                                                                <div class="input-group">
                                                                    <select name="select" id="project_acl_renderer_del_form_user" class="form-control">
                                                                        {% for renderer_link in renderer_links %}
                                                                            <option value="{{ renderer_link.getPrimary() }}">{{ renderer_link.getPrimary() }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <span class="input-group-btn"><input class="btn btn-primary" type="button" onclick="doDelACLUserProjectRenderer(); return false" value="Remove"/></span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                    <h4>Teams</h4>
                                                    <ul id="project_acl_team_current">
                                                        {% for team in team_links %}
                                                        <li><a href="{{ path("app_team_single", {"team" : team.getId()}) }}">{{ team.getName() }}</a>
                                                            {% endfor %}
                                                    </ul>
                                                    <div id="project_acl_team_add">
                                                        <form class="form-inline" id="project_acl_team_add_form" action="javascript:;">
                                                            <input type="hidden" id="project_acl_team_add_form_project" value="{{ project.id() }}"/>
                                                            <div class="input-group">
                                                                <input type="hidden" id="project_acl_team_add_form_user_value">
                                                                <input class="form-control" id="project_acl_team_add_form_user" placeholder="Add a team to renderer list"/>
                                                                <span class="input-group-btn">
                                                            <input class="btn btn-primary" type="button" onclick="doAddACLTeamProjectRenderer(); return false" value="Add"/>
                                                        </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    {% if team_links is not empty %}

                                                        <div id="project_acl_team_del">
                                                            <form class="form-inline" id="project_acl_team_del_form" action="javascript:;">
                                                                <input type="hidden" id="project_acl_team_del_form_project" value="{{ project.id() }}"/>
                                                                <div class="input-group">
                                                                    <select name="select" id="project_acl_team_del_form_user" class="form-control">
                                                                        {% for team in team_links %}
                                                                            <option value="{{ team.getId() }}">{{ team.getName() }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <span class="input-group-btn"><input class="btn btn-primary" type="button" onclick="doDelACLTeamProjectRenderer(); return false" value="Remove"/></span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="tab-pane active" class="tab-pane" id="tab_actions">
                                        <h4>Compute method</h4>
                                        <div style="vertical-align: middle"> {# div-12 #}
                                            {% if project.canUseCPU() %}
                                                <input type="radio" name="compute_method" onclick="doModifyComputeMethod('{{ project.id() }}', 'cpu', '{{ checked_cpu ? '0' : '1' }}'); return false" {{ checked_cpu ? 'checked' : '' }} />
                                                <img src="/media/image/{{ checked_cpu ? 'cpu_enabled.png" title="CPU enabled" alt="cpu enabled"' : 'cpu_disabled.png" title="CPU disabled" alt="cpu disabled"' }}"/>
                                                &nbsp;CPU
                                            {% endif %}
                                            {% if project.canUseCPU() %}
                                                <input type="radio" name="compute_method" onclick="doModifyComputeMethod('{{ project.id() }}', 'gpu', '{{ checked_gpu ? '0' : '1' }}'); return false" {{ checked_gpu ? 'checked' : '' }} />
                                                <img src="/media/image/{{ checked_gpu ? 'gpu_enabled.png" title="GPU enabled" alt="gpu enabled"' : 'gpu_disabled.png" title="GPU disabled" alt="gpu disabled"' }}"/>
                                                &nbsp;GPU
                                                <br><strong>Caution!</strong> not all the rendering features are supported by GPUs<br>You might have different results depending on the rendering technology.
                                            {% else %}
                                                <div style=" vertical-align: middle">If you are using Eevee, CPU rendering is not available.
                                                </div>
                                            {% endif %}


                                        </div>{#  div-12 #}
                                        {% if user_logged.isModerator() and project.blocked() == false %}
                                            <div id="project_actions_render_binary">
                                                <div class="input-group">
                                                    <select name="change_renderer" id="change_renderer" class="form-control">
                                                        {% for blenderBinary in blender_binaries %}
                                                            <option value="{{ blenderBinary.id() }}" {{ blenderBinary.id() == project.executable().id() ? ' selected="selected"' : '' }}>{{ blenderBinary.human() }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="input-group-btn">
                                    <input class="btn btn-primary" type="button" name="change_renderer_submit" onclick="doChangeProjectBinary('{{ project.id() }}'); return false" value="Change"/>
                                                            </span>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if display_generate_mp4 %}
                                            <div style="vertical-align: middle">
                                                <form class="form-inline">
                                                    <div class="checkbox">
                                                        <label>
                                                            {% if project.canGenerateMp4() == false %}
                                                                <br>MP4 generation disabled
                                                            {% else %}
                                                                <input type="checkbox" name="project_generate_mp4_checkbox_1" id="project_generate_mp4_checkbox_1" {{ project.generateMp4() ? 'checked="checked"' : '' }} onclick="doModifyAttributeFromCheckbox('{{ project.id() }}', 'generate_mp4', 'project_generate_mp4_checkbox_1'); return false">
                                                                <span title="Generates an MP4 video of the projects, it is really resource intensive for the server so only check it if you really need it.">Generate MP4 video</span>
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}
                                        {% if user_logged.isModerator() %}
                                            <h4>Advanced</h4>
                                            {% if project.blocked() %}
                                                <form class="form-inline" action="javascript:;">
                                                    <input class="btn btn-primary" type="button" name="unblock_submit" onclick="requestReloadOnSuccess('{{ path('app_project_update_unblock', {'project' : project.id()}) }}'); return false" value="Unblock the project"/>
                                                </form>
                                            {% else %}
                                                <div class="input-group" style="margin-bottom: 12px">
                                                    <select name="blocked" id="blocked" class="form-control">
                                                        {% for blocked_id, blocked_msg in block_messages_short %}
                                                            <option value="{{ blocked_id }}">{{ blocked_msg }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="input-group-btn">
                                                            <input class="btn btn-danger" type="button" name="block_submit" onclick="requestReloadOnSuccess('/project/{{ project.id() }}/block/' + $('#blocked').val(), {});return false" value="Block the project"/>
                                                        </span>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <div>
                                            {% if user_logged.isModerator() %}
                                                <form class="form-inline" action="{{ path("app_project_resetgpuusage", {'project' : project.id()}) }}" method="post" enctype="multipart/form-data">
                                                    <button class="btn btn-success" type="submit" name="resetgpuusage_submit"><i class="fa fa-gear"></i> Reset VRAM usage</button>
                                                </form>
                                                <form class="form-inline" action="{{ path("app_project_regeneratestats", {'project' : project.id()}) }}" method="post" enctype="multipart/form-data">
                                                    <button class="btn btn-success" type="submit" name="regenerate_stats_submit"><i class="fa fa-gear"></i> Re generate stats</button>
                                                </form>
                                                <form class="form-inline" action="{{ path("app_project_regeneratetoken", {'project' : project.id()}) }}" method="post" enctype="multipart/form-data">
                                                    <button class="btn btn-success" type="submit" name="regenerate_token_submit"><i class="fa fa-gear"></i> Re generate token</button>
                                                </form>
                                                <form class="form-inline" enctype="multipart/form-data">
                                                    <button class="btn btn-success" type="button" name="project_askpartialframearchive_submit" onclick="doAskForProjectPartialArchiveFrame('{{ path('app_project_askpartialframearchive', {'project' : project.id()}) }}');return false;"><i class="fa fa-gear"></i> Ask for frames zip</button>
                                                </form>
                                            {% endif %}
                                            {% if user_logged.isSuperAdmin() and is_boosted == false %}
                                                <form class="form-inline" action="javascript:;">
                                                    <input type="hidden" name="action" value="boost"/>
                                                    <input type="hidden" name="project" value="{{ project.id() }}"/>
                                                    <button class="btn btn-success" type="button" onclick="requestReloadOnSuccess('{{ path('app_project_boost', {'project' : project.id()}) }}', {}); return false" name="block_submit"><i class="fa fa-line-chart"></i> Set high priority</button>
                                                </form>
                                            {% endif %}

                                            {% if user_logged.isAdmin() %}
                                                <form class="form-inline" action="{{ path('app_project_remove', {'project' : project.id()}) }}">
                                                    <button class="btn btn-danger" type="submit" name="remove_project" onclick="return confirm(&quot;Are you sure you want to delete the project?\nIt can NOT be undone.&quot;)"><i class="fa fa-trash"></i> Remove the project</button>
                                                </form>
                                            {% endif %}
                                            {% if user_logged.isSuperAdmin() %}
                                                <div>
                                                    password: {{ project.password() }}
                                                </div>
                                            {% endif %}
                                            {% if user_logged.isModerator() %}
                                                <div>
                                                    <hr>
                                                    cached stats (for admin only)<br>{{ printArray(project.getCachedStatistics()) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}